<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col"> Sai Baba Astakam</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/sairam1.jpg" %}" alt="baba" width=100%>
        <br> <br>
<br><hr>
 <p style="color:white;">
<br>
   Om Sai Ram !!!
<br><br>
1.Shantha Chitta Maha Pragna Sai Natha Dayakara
<br>
Daya Sindho Satya Swarupa Mayatam Vinashana !!
<br>
2.Jaata Gothateeta Sidda Achinthya Karunalaya
<br>
Pahimam Pahimam Natha Shirdi Grama Nivasaya !!
<br>
3.Shri Gnanarka Gnanadhathya Sarva Mangala Karaka
<br>
Bhaktha Chitta Maralaahe Sharanagatha Rakshaka !!
<br>
4.Shristi Kartha Virinchi Tu patatu Indirapathi
<br>
Jagatraya layanetha Rudratho tucha Nichinthi !!
<br>
5.Tuja Veeney Rithakothe Tthava naya Maheevari
<br>
Sarvagnathu Sai natha Sarvanchya  Hrudayantari !!
<br>
6.Kshama Sarvaparadhanchi Karani Hechi mangane
<br>
Abhakti Sanchayathyalatta Sheegra Nivariney !!
<br>
7. Tu dhenu Vatsa Meethenhu Tu Indu Chandra Kantha Mee
<br>
Swarna dhirupa Tvatpada Aadhareda Sahanami !!
<br>
8. Theva aatha shri majya Kripachakara Panjara
<br>
Shoka chinta Nivara ni Gunu Ha Tava kinkaraha !!
<br>
Om Shri Satchidanand Sadguru Sai Nath Maharaj Ki Jai !!!


   </div>
   <br><br><br><br><br><br>
   {%endblock%}
