
<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">
  <h1>Shirdi Sai Baba Helps Always... in All Ways..</h1>

     <hr>
     <p style="color:white;">
        <img src="{% static "images/baba.jpg" %}" alt="baba" width="450" height="260"> <br> <br><hr>
   <h4>Saibaba Answers</h4>
 <p style="color:white;">   The Miracle here is that Shirdi Sai Baba will answer your questions... <br>

   You can ask him for the solution to any of your problem and seek his guidance to proceed further. <br>

   Shirdi SaiBaba gives the answer in crisp and clear terms, and to the point.. <br>
   <br>
   <h4>How it Works..</h4>
    <p style="color:white;">
Assume you are sitting in front of Sri SaiBaba & Baba is smiling at you <br>
Think of your Problem to be solved & Seek Baba's Help. <br>
Ask him to suggest you any one Number between 1 to 720 as Answer <br>
A Number will come up in your Mind <br>
Type that Number in the Answer box above and Press "Ask Baba" button <br>
That Number = Shirdi Sai Baba's Answer.. <br>
The Number should be between 1 to 720 only... <br>
The Answer comes up in the next page... where Shirdi Baba gives Crisp & Clear answer. <br>
 <br>



   <a href="https://www.yoursaibaba.com/">Click here and type the number to get answer from baba</a>
     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
