<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">BALASAHEB  BHATE</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/bhate.jpg" %}" alt="baba" width="200" height="260">
        <br>BALASAHEB  BHATE<br><hr>
 <p style="color:white;">
(With Baba's Grace, Bhate got converted from being an atheist to theist and also got a pension of Rs.29/- per month, though was not eligible for pension, on the ground of religious melancholy.)
<br>
Purushottam Sakharam Bhate alias Balasaheb Bhate knew Nanasaheb Chandorkar as both of them were college friends. Shri Balasaheb Bhate was a skeptic. clip_image001[4]He did not have faith in religious and spiritual matters and was an agnostic. He was a free thinker and a habitual smoker. His concept was that he should enjoy fully on every day irrespective of the next day. However, he was very efficient in his duties and was liked by the Collector who was an Englishman.
<br>
He was Mamlatdar at Kopergaon for about five years from 1904 to 1909 and had several friends who were devotees of Sai Baba. His friends were living in different places, but being Baba’s devotees, whenever they used to visit Shirdi, they had to pass through Kopergaon where they would meet their friend, Bhate. Bhate used to ask them why they were visiting a poor and worthless fakir in Shirdi even though they had good education and thus used to scoff at them. When they advised Bhate to visit Shirdi and have darshan of Baba and to know about Baba, he would scoff at their suggestion also. He considered that visiting a poor fakir in a very small village was below his dignity.
<br>
Once he had an opportunity to visit Rahata, the head village of Shirdi. Rahata, Shirdi and other nearby villages were under his jurisdiction. Earlier, a saint by name Bhau Maharaj came to Bhate. The saint made a Keerthan about Kabir and Kamal. Bhate heard the kirthan attentively and patiently with keen interest and got impressed.
<br>
When he was camping at Rahata, he had an idea of visiting Shirdi. He first came to Shirdi in 1894. The moment he went and saw Baba, Baba’s powers gripped him and he could not move away from Baba and thus he stayed in the masjid for more than two hours with Baba, looking at Baba all the while.
<br>
Baba attracted him very much. As he was earlier scoffing at the visits of his friends to Baba, he started regretting about his faults and then fear gripped his mind. And he had immediately erased the earlier impression about Baba from his mind.
<br>
He came to Shirdi for the first time and visited Baba every day. But on the fifth day, Baba threw an ochre garment on Bhate and then onwards he got converted and became a devotee of Baba. Baba made him stay in Shirdi for six months on leave. Bur he did not care to join duty even on expiry of leave. On Baba's instructions, Dixit wrote an application for one year leave and got the signature of Bhate on that letter and he was granted one year leave.
<br>
When once Dabholkar visited Shirdi for the first time, Dabholkar had a doubt about the necessity of having a Guru and picked up an argument with Balasaheb Bhate when they were in Sathewada. But Bhate explained at length the need to have a Guru and asserted that Guru was needed as man was a helpless creature and that man needed Guru’s guidance to tide over the worldly problems and also attain spiritual progress. Thus the discussion went on for more than one hour and none was satisfied with the forcible arguments of the other. Thus he was in a position to tell others about the need of having a Guru. With Baba's Grace, he got converted from being an atheist to theist.
<br>
When Bhate was on long leave and was staying in Shirdi, his superior officer came to Shirdi and asked Bhate to rejoin duty as Bhate was considered as an efficient Mamlatdar and was liked by the Collector. But Bhate was adamant and was determined to continue to stay in Shirdi. Even though he was on leave for one year, he told his superior officer that he was not interested in the job at all. Thus he was staying in Shirdi, attracted by Baba and was fully involved in the service to Baba. He was staying in Shirdi along with his wife and his family. He was also reading all the religious and spiritual books like Upanishad before Baba who would occasionally offer comments on what he had read.  From that time onwards, he left his post of Mamlatdar.
<br>
After observing the views of Bhate, Kakasaheb Dixit, Nanasaheb Chandorkar and Shama expressed anxiety as to how he would maintain his family and requested Baba to help him. Bhate served the department for only 13 years and as such was not entitled for any pension. Notwithstanding this, Baba asked them to get an application filled up and signed by Bhate, requesting for pension as a special case. Even though he was not entitled to any pension, as a special case and with the Grace of Baba, Bhate got a pension of Rs.29/- per month without any trouble on the ground of religious melancholy. Thus a skeptic got converted as a sanyasi and became a staunch devotee of Baba. Thus a person like Balasaheb Bhate who began with vituperative accusations about Baba was finally drawn towards Baba and became an ardent devotee of Baba and also derived progress in spiritual pursuit and spent the remaining period of his life in the service to Baba.

<br>
<hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
