<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">B.V.Dev</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/dev.jpg" %}" alt="baba" width="200px" height="200px">
        <br>B.V.Dev <br><hr>
 <p style="color:white;">
    <br>
Retired Mamlatdar, Station Road. Thana 27th September, 1936.
<br>
You wish to know if Sai Baba spoke anything about or advanced any person to Adwaita Avesta. I doubt if anyone, who went to him was an Adhikari for such a course. There were Nana Saheb, H.S. Dixit, Dabholkar and Mahalsapathy with him. Perhaps, these were in the front rank of his devotees. Each had his merit or characteristic. Mahalsapathy was very meek, obedient, pious and firmly adhering to 'Holy Poverty' and Baba kept him to it. Dixit was blindly obeying Baba and had firm faith in him and was made to study Eknath to promote his spiritual condition. In these matters, he was but a beginner. Mahalsapathy had neither learning nor culture. Nana Saheb Chandorkar knew Sanskrit and he was a student of the Gita.
<br>
I retired in 1911 and went to Baba. I tried to do Pada Poqja at the bidding of Dixit. Baba stopped me. 'You need not worship. You have given me Dakshina. That is enough'.
<br>
My questioning Balakram, Baba's anger and Baba's giving me order to read Jnaneshwari, are all set out in Dabholkar's Satcharitra.
<br>
Baba took from me one after another four sovereigns. Then, he said, 'I have received one'. I said 'Baba, I have given you four'.
<br>
Baba : I did not deny it. But when you have given four, Baba received one only.<br>
I : I do not understand it. <br>
Baba: You will come to understand it. <br>
<br>
Later, when I was touring along, a young Fakir came to my compartment and asked me for something. I gave him one pice. He said he wanted four. I gave him a four-anna piece. He then said he had got one. Again I met an old hermit, he wanted something. I gave him one coin. He wanted four.
<br>
<br>

<img src="{% static "images/dev2.jpg" %}" alt="baba" width=100%>
<img src="{% static "images/dev3.jpg" %}" alt="baba" width=100%>
<img src="{% static "images/dev4.jpg" %}" alt="baba" width=100%>
<img src="{% static "images/dev7.jpg" %}" alt="baba" width=100%>
<img src="{% static "images/dev8.jpg" %}" alt="baba" width=100%>
<img src="{% static "images/dev9.jpg" %}" alt="baba" width=100%>
<img src="{% static "images/dev10.jpg" %}" alt="baba" width=100%>
<img src="{% static "images/dev11.gif" %}" alt="baba" width=100%>
<img src="{% static "images/dev12.gif" %}" alt="baba" width=100%>
<img src="{% static "images/dev13.gif" %}" alt="baba" width=100%>
<img src="{% static "images/dev14.gif" %}" alt="baba" width=100%>
<img src="{% static "images/dev15.gif" %}" alt="baba" width=100%>

<br><br>

{%endblock%}
