<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Saibaba Chalisa</h1><p>In telugu and Hindi</p> <hr>
         <img src="{% static "images/chalisa.gif" %}" alt="baba" width=100%>
     <p style="color:white;">
       <strong>
       <br>
<h4>Telugu</h4> <hr><p style="color:white;">
  షిరిడీవాస సాయిప్రభో జగతికి  మూలం నీవే ప్రభో <br>
   దత్తదిగంబర అవతారం నీలో సృష్టి వ్యవహారం <br>
   త్రిమూర్తి రూపా ఓ సాయీ కరుణించి కాపాడోయి <br>
   దర్శన మియ్యగరావయ్య ముక్తికి మార్గం చూపుమయా   <br>
   <br>
   కఫిని వస్త్రము ధరియించి భుజమునకు జోలీ తగిలించి <br>
   నింబ వృక్షము ఛాయలలో ఫకీరు వేషపుధారణలో <br>
   కలియుగమందున వెలసితివి త్యాగం సహనం నేర్పితివి <br>
   షిరిడీ గ్రామం నీ నివాస భక్తుల మదిలో నీ రూపం <br>
   <br>
   చాంద్ పాటిల్ ను కలుసుకుని అతని బాధలు తెలుసుకొని <br>
   గుఱ్ఱము జాడ తెలిపితివి పాటిల్ బాధను తీర్చితివి <br>
   వెలిగించావు జ్యోతులను నీవుపయోగించీ జలము <br>
   అచ్చెరువొందెను ఆ గ్రామం చూసి వింతైన ఆ దృశ్యం <br>
   <br>
   బాయిజా చేసెను నీ సేవ ప్రతిఫలమిచ్చావో దేవా <br>
   నీ ఆయువును బదులిచ్చి తాత్యాను నీవు బ్రతికించి <br>
   పశుపక్షులను ప్రేమించి ప్రేమతో వాటిని లాలించి <br>
   జీవులపైన మమకారం చిత్రమయా నీ వ్యవహారం <br>
   <br>
   నీ ద్వారములో నిలిచిని నిన్నే నిత్యము కొలిచితిని <br>
   అభయము నిచ్చి బ్రోవుమయా ఓ షిరిడీశా దయామయా <br>
   ధన్యము ద్వారక ఓ మాయీ నీలో నిలిచెను శ్రీసాయి <br>
   నీ ధుని మంటల వేడిమికి పాపము పోవును తాకిడికి <br>
   <br>
   ప్రళయ కాలము ఆపితివి భక్తులను నీవు బ్రోచితివి <br>
   చేసి మహామ్మారీ నాశం కాపాడి షిరిడి గ్రామం <br>
   అగ్నిహోత్రి శాస్త్రికి లీలా మహాత్మ్యం చూపించి <br>
   శ్యామాను బ్రతికించితివి పాము విషము తొలగించి <br>
   <br>
   భక్త భీమాజీకి క్షయరోగం నశియించే అతని సహనం <br>
   ఊదీ వైద్యం చేసావు వ్యాధిని మాయం చేసావు <br>
   కాకాజీకి ఓ సాయి విఠల దర్శన మిచ్చితివి <br>
   దామూకిచ్చి సంతానం కలిగించితివి సంతోషం <br>
   <br>
   కరుణాసింధూ కరుణించు మాపై కరుణా కురిపించు <br>
   సర్వం నీకే అర్పితము పెంచుము భక్తి భావమును <br>
   ముస్లిమనుకొని నిను మేఘా తెలుసుకుని అతని బాధ <br>
   దాల్చి శివశంకర రూపం ఇచ్చావయ్యా దర్శనము <br>
   <br>
   డాక్టరుకు నీవు రామునిగా బల్వంతుకు శ్రీదత్తునిగా <br>
   నిమోనుకరకు మారుతిగా చిడంబరకు శ్రీగణపతిగా <br>
   మార్తాండకు ఖండోబాగా గణూకు సత్యదేవునిగా <br>
   నరసింహస్వామిగా జోషికి దర్శనము మిచ్చిన శ్రీసాయి <br>
   <br>
   రేయి పగలు నీ ధ్యానం నిత్యం నీ లీలా పఠనం <br>
   భక్తితో చేయండి ధ్యానం లభించును ముక్తికి మార్గం
   <br>పదకొండు నీ వచనాలు బాబా మాకివి వేదాలు <br>
   శరణణి వచ్చిన భక్తులను కరుణించి నీవు బ్రోచితివి
 <br><br>
   అందరిలోన నీ రూపం నీ మహిమా అతిశక్తిమాయం <br>
   ఓ సాయి మేఘ మూఢులము ఒసగుమయా నీవు జ్ఞానమును <br>
   సృష్టికి నీవేనయ మూలం సాయి మేము సేవకులం <br>
   సాయి నామము తలచెదము నిత్యము సాయిని కొలిచెదము <br>
   <br>
   భక్తి భావన తెలుసుకొని సాయిని మదిలో నిలుపుకొని <br>
   చిత్తముతో సాయీ ధ్యానం చేయండీ ప్రతినిత్యం <br>
   బాబా కాల్చిన ధుని ఊది నివారించును అది వ్యాధి <br>
   సమాధి నుండి శ్రీసాయి భక్తులను కాపాడేనోయి <br>
   <br>
   మన ప్రశ్నలకు జవాబులు తెలుపును సాయి చరితములు <br>
   వినండి లేక చదవండి సాయి సత్యము చూడండి <br>
   సత్సంగమును చేయండి సాయి స్వప్నము పొందండి <br>
   భేద భావమును మానండి సాయి మన సద్గురువండి <br>
   <br>
   వందనమయ్యా  పరమేశా ఆపద్భాందవ సాయీశా <br>
   మా పాపములా కడతేర్చు మా మది కోరిక నెరవేర్చు
<br>   కరుణామూర్తి ఓ సాయి కరుణతో మమ్ము దరిచేర్చోయి <br>
   మా మనసే నీ మందిరము మా పలుకులే నీకు నైవేద్యం <br><br>

   శ్రీ సచ్చిదానంద సమర్థ సద్గురు షిరిడీ సాయినాథ మహరాజ్ కి జై !! <br>
</strong>
<br><br>
<hr><h4>Hindi</h4>
<hr><p style="color:white;">पहले साईं के चरणों में, अपना शीश नमाऊं मैं। <br>

कैसे शिरडी साईं आए, सारा हाल सुनाऊं मैं॥
<br>

कौन है माता, पिता कौन है, ये न किसी ने भी जाना।
<br>
कहां जन्म साईं ने धारा, प्रश्न पहेली रहा बना॥
<br><br>


कोई कहे अयोध्या के, ये रामचंद्र भगवान हैं।
<br>
कोई कहता साईं बाबा, पवन पुत्र हनुमान हैं॥
<br>

कोई कहता मंगल मूर्ति, श्री गजानंद हैं साईं।
<br>
कोई कहता गोकुल मोहन, देवकी नंदन हैं साईं॥
<br><br>

शंकर समझे भक्त कई तो, बाबा को भजते रहते।
<br>
कोई कह अवतार दत्त का, पूजा साईं की करते॥
<br>

कुछ भी मानो उनको तुम, पर साईं हैं सच्चे भगवान।
<br>
बड़े दयालु दीनबंधु, कितनों को दिया जीवन दान॥
<br><br>

कई वर्ष पहले की घटना, तुम्हें सुनाऊंगा मैं बात।
<br>
किसी भाग्यशाली की, शिरडी में आई थी बारात॥
<br>

आया साथ उसी के था, बालक एक बहुत सुंदर।
<br>
आया, आकर वहीं बस गया, पावन शिरडी किया नगर॥
<br><br>

कई दिनों तक भटकता, भिक्षा मांग उसने दर-दर।
<br>
और दिखाई ऐसी लीला, जग में जो हो गई अमर॥
<br>

जैसे-जैसे उमर बढ़ी, बढ़ती ही वैसे गई शान।
<br>
घर-घर होने लगा नगर में, साईं बाबा का गुणगान॥
<br><br>दिग दिगंत में लगा गूंजने, फिर तो साईं जी का नाम।
<br>
दीन-दुखी की रक्षा करना, यही रहा बाबा का काम॥
<br>

बाबा के चरणों में जाकर, जो कहता मैं हूं निर्धन।
<br>
दया उसी पर होती उनकी, खुल जाते दुख के बंधन॥
<br><br>

कभी किसी ने मांगी भिक्षा, दो बाबा मुझको संतान।
<br>
एवमस्तु तब कहकर साईं, देते थे उसको वरदान॥
<br>

स्वयं दुखी बाबा हो जाते, दीन-दुखीजन का लख हाल।
<br>
अंत:करण श्री साईं का, सागर जैसा रहा विशाल॥
<br><br>

भक्त एक मद्रासी आया, घर का बहुत बड़ा धनवान।
<br>

माल खजाना बेहद उसका, केवल नहीं रही संतान॥
<br>

लगा मनाने साईंनाथ को, बाबा मुझ पर दया करो।
<br>
झंझा से झंकृत नैया को, तुम्हीं मेरी पार करो॥
<br><br>

कुलदीपक के बिना अंधेरा, छाया हुआ घर में मेरे।
<br>
इसलिए आया हूं बाबा, होकर शरणागत तेरे॥
<br>

कुलदीपक के अभाव में, व्यर्थ है दौलत की माया।
<br>
आज भिखारी बनकर बाबा, शरण तुम्हारी मैं आया॥
<br><br>

दे-दो मुझको पुत्र-दान, मैं ऋणी रहूंगा जीवन भर।
<br>
और किसी की आशा न मुझको, सिर्फ भरोसा है तुम पर॥
<br>

अनुनय-विनय बहुत की उसने, चरणों में धर के शीश।
<br>
तब प्रसन्न होकर बाबा ने, दिया भक्त को यह आशीष॥
<br> <br>'अल्ला भला करेगा तेरा' पुत्र जन्म हो तेरे घर।
<br>
कृपा रहेगी तुझ पर उसकी, और तेरे उस बालक पर॥
<br>

अब तक नहीं किसी ने पाया, साईं की कृपा का पार।
<br>
पुत्र रत्न दे मद्रासी को, धन्य किया उसका संसार॥
<br><br>


तन-मन से जो भजे उसी का, जग में होता है उद्धार।
<br>
सांच को आंच नहीं हैं कोई, सदा झूठ की होती हार॥
<br>

मैं हूं सदा सहारे उसके, सदा रहूंगा उसका दास।
<br>
साईं जैसा प्रभु मिला है, इतनी ही कम है क्या आस॥
<br><br>

मेरा भी दिन था एक ऐसा, मिलती नहीं मुझे रोटी।
<br>
तन पर कपड़ा दूर रहा था, शेष रही नन्हीं सी लंगोटी॥
<br>

सरिता सन्मुख होने पर भी, मैं प्यासा का प्यासा था।
<br>
दुर्दिन मेरा मेरे ऊपर, दावाग्नी बरसाता था॥
<br><br>

धरती के अतिरिक्त जगत में, मेरा कुछ अवलंब न था।
<br>
बना भिखारी मैं दुनिया में, दर-दर ठोकर खाता था॥
<br>

ऐसे में एक मित्र मिला जो, परम भक्त साईं का था।
<br>
जंजालों से मुक्त मगर, जगत में वह भी मुझसा था॥
<br><br>

बाबा के दर्शन की खातिर, मिल दोनों ने किया विचार।
<br>
साईं जैसे दया मूर्ति के, दर्शन को हो गए तैयार॥
<br>

पावन शिरडी नगर में जाकर, देख मतवाली मूरति।
<br>
धन्य जन्म हो गया कि हमने, जब देखी साईं की सूरति॥
<br><br>जब से किए हैं दर्शन हमने, दुख सारा काफूर हो गया।
<br>
संकट सारे मिटै और, विपदाओं का अंत हो गया॥
<br>

मान और सम्मान मिला, भिक्षा में हमको बाबा से।
<br>
प्रतिबिंबित हो उठे जगत में, हम साईं की आभा से॥
<br><br>

बाबा ने सन्मान दिया है, मान दिया इस जीवन में।
<br>
इसका ही संबल ले मैं, हंसता जाऊंगा जीवन में॥

<br>
साईं की लीला का मेरे, मन पर ऐसा असर हुआ।
<br>
लगता जगती के कण-कण में, जैसे हो वह भरा हुआ॥
<br><br>

'काशीराम' बाबा का भक्त, शिरडी में रहता था।
<br>
मैं साईं का साईं मेरा, वह दुनिया से कहता था॥
<br>

सीकर स्वयं वस्त्र बेचता, ग्राम-नगर बाजारों में।
<br>
झंकृत उसकी हृदय तंत्री थी, साईं की झंकारों में॥
<br><br>

स्तब्ध निशा थी, थे सोए, रजनी आंचल में चांद सितारे।
<br>
नहीं सूझता रहा हाथ को हाथ तिमिर के मारे॥
<br>

वस्त्र बेचकर लौट रहा था, हाय! हाट से काशी।
<br>
विचित्र बड़ा संयोग कि उस दिन, आता था एकाकी॥
<br><br>

घेर राह में खड़े हो गए, उसे कुटिल अन्यायी।
<br>
मारो काटो लूटो इसकी ही, ध्वनि पड़ी सुनाई॥
<br>

लूट पीटकर उसे वहां से कुटिल गए चम्पत हो।
<br>
आघातों में मर्माहत हो, उसने दी संज्ञा खो॥
<br><br>बहुत देर तक पड़ा रह वह, वहीं उसी हालत में।
<br>
जाने कब कुछ होश हो उठा, वहीं उसकी पलक में॥
<br>

अनजाने ही उसके मुंह से, निकल पड़ा था साईं।
<br>
जिसकी प्रतिध्वनि शिरडी में, बाबा को पड़ी सुनाई॥
<br><br>

क्षुब्ध हो उठा मानस उनका, बाबा गए विकल हो।
<br>
लगता जैसे घटना सारी, घटी उन्हीं के सन्मुख हो॥
<br>

उन्मादी से इधर-उधर तब, बाबा लेगे भटकने।
<br>
सन्मुख चीजें जो भी आई, उनको लगने पटकने॥
<br>
<br>
और धधकते अंगारों में, बाबा ने अपना कर डाला।
<br>
हुए सशंकित सभी वहां, लख तांडवनृत्य निराला॥
<br>

समझ गए सब लोग, कि कोई भक्त पड़ा संकट में।
<br>
क्षुभित खड़े थे सभी वहां, पर पड़े हुए विस्मय में॥
<br><br>

उसे बचाने की ही खातिर, बाबा आज विकल है।
<br>
उसकी ही पीड़ा से पीड़‍ित, उनकी अंत:स्थल है॥
<br>

इतने में ही विविध ने अपनी, विचित्रता दिखलाई।
<br>
लख कर जिसको जनता की, श्रद्धा सरिता लहराई॥
<br><br>

लेकर संज्ञाहीन भक्त को, गाड़ी एक वहां आई।
<br>
सन्मुख अपने देख भक्त को, साईं की आंखें भर आई॥
<br>

शांत, धीर, गंभीर, सिंधु-सा, बाबा का अंत:स्थल।
<br>
आज न जाने क्यों रह-रहकर, हो जाता था चंचल॥ <br><br>
आज दया की मूर्ति स्वयं था, बना हुआ उपचारी। <br>

और भक्त के लिए आज था, देव बना प्रतिहारी॥
<br>

आज भक्त की विषम परीक्षा में, सफल हुआ था काशी।
<br>
उसके ही दर्शन की खातिर थे, उमड़े नगर-निवासी।
<br><br>

जब भी और जहां भी कोई, भक्त पड़े संकट में।
<br>
उसकी रक्षा करने बाबा, आते हैं पलभर में॥
<br>

युग-युग का है सत्य यह, नहीं कोई नई कहानी।
<br>
आपद्‍ग्रस्त भक्त जब होता, जाते खुद अंर्तयामी॥
<br><br>

भेदभाव से परे पुजारी, मानवता के थे साईं।
<br>
जितने प्यारे हिन्दू-मुस्लिम, उतने ही थे सिक्ख ईसाई॥
<br>

भेद-भाव मंदिर-मिस्जद का, तोड़-फोड़ बाबा ने डाला।
<br>
राह रहीम सभी उनके थे, कृष्ण करीम अल्लाताला॥
<br><br>

घंटे की प्रतिध्वनि से गूंजा, मस्जिद का कोना-कोना।
<br>
मिले परस्पर हिन्दू-मुस्लिम, प्यार बढ़ा दिन-दिन दूना॥
<br>

चमत्कार था कितना सुंदर, परिचय इस काया ने दी।
<br>
और नीम कडुवाहट में भी, मिठास बाबा ने भर दी॥
<br><br>

सब को स्नेह दिया साईं ने, सबको संतुल प्यार किया।
<br>
जो कुछ जिसने भी चाहा, बाबा ने उसको वही दिया॥
<br>

ऐसे स्नेहशील भाजन का, नाम सदा जो जपा करे।
<br>
पर्वत जैसा दुख न क्यों हो, पलभर में वह दूर टरे॥
<br><br>साईं जैसा दाता हमने, अरे नहीं देखा कोई।
<br>
जिसके केवल दर्शन से ही, सारी विपदा दूर गई॥
<br>

तन में साईं, मन में साईं, साईं-साईं भजा करो।
<br>
अपने तन की सुधि-बुधि खोकर, सुधि उसकी तुम किया करो॥
<br><br>

जब तू अपनी सुधि तज, बाबा की सुधि किया करेगा।
<br>
और रात-दिन बाबा-बाबा, ही तू रटा करेगा॥
<br>

तो बाबा को अरे! विवश हो, सुधि तेरी लेनी ही होगी।
<br>
तेरी हर इच्छा बाबा को पूरी ही करनी होगी॥
<br><br>

जंगल, जंगल भटक न पागल, और ढूंढ़ने बाबा को।
<br>
एक जगह केवल शिरडी में, तू पाएगा बाबा को॥
<br>

धन्य जगत में प्राणी है वह, जिसने बाबा को पाया।
<br>
दुख में, सुख में प्रहर आठ हो, साईं का ही गुण गाया॥
<br><br>

गिरे संकटों के पर्वत, चाहे बिजली ही टूट पड़े।
<br>
साईं का ले नाम सदा तुम, सन्मुख सबके रहो अड़े॥
<br>

इस बूढ़े की सुन करामत, तुम हो जाओगे हैरान।
<br>
दंग रह गए सुनकर जिसको, जाने कितने चतुर सुजान॥
<br><br>

एक बार शिरडी में साधु, ढ़ोंगी था कोई आया।
<br>
भोली-भाली नगर-निवासी, जनता को था भरमाया॥
<br>

जड़ी-बूटियां उन्हें दिखाकर, करने लगा वह भाषण।
<br>
कहने लगा सुनो श्रोतागण, घर मेरा है वृन्दावन॥ <br><br>
औषधि मेरे पास एक है, और अजब इसमें शक्ति। <br>

इसके सेवन करने से ही, हो जाती दुख से मुक्ति॥ <br>


अगर मुक्त होना चाहो, तुम संकट से बीमारी से।
<br>
तो है मेरा नम्र निवेदन, हर नर से, हर नारी से॥
<br><br>

लो खरीद तुम इसको, इसकी सेवन विधियां हैं न्यारी।
<br>
यद्यपि तुच्छ वस्तु है यह, गुण उसके हैं अति भारी॥
<br>

जो है संतति हीन यहां यदि, मेरी औषधि को खाए।
<br>
पुत्र-रत्न हो प्राप्त, अरे वह मुंह मांगा फल पाए॥
<br><br>

औषधि मेरी जो न खरीदे, जीवन भर पछताएगा।
<br>
मुझ जैसा प्राणी शायद ही, अरे यहां आ पाएगा॥
<br>

दुनिया दो दिनों का मेला है, मौज शौक तुम भी कर लो।
<br>
अगर इससे मिलता है, सब कुछ, तुम भी इसको ले लो॥
<br><br>

हैरानी बढ़ती जनता की, देख इसकी कारस्तानी।
<br>
प्रमुदित वह भी मन ही मन था, देख लोगों की नादानी॥
<br>

खबर सुनाने बाबा को यह, गया दौड़कर सेवक एक।
<br>
सुनकर भृकुटी तनी और, विस्मरण हो गया सभी विवेक॥
<br><br>

हुक्म दिया सेवक को, सत्वर पकड़ दुष्ट को लाओ।
<br>
या शिरडी की सीमा से, कपटी को दूर भगाओ॥
<br>

मेरे रहते भोली-भाली, शिरडी की जनता को।
<br>
कौन नीच ऐसा जो, साहस करता है छलने को॥ <br><br>
पलभर में ऐसे ढोंगी, कपटी नीच लुटेरे को। <br>

महानाश के महागर्त में पहुंचा, दूं जीवन भर को॥
<br>

तनिक मिला आभास मदारी, क्रूर, कुटिल अन्यायी को।
<br>
काल नाचता है अब सिर पर, गुस्सा आया साईं को॥
<br><br>

पलभर में सब खेल बंद कर, भागा सिर पर रखकर पैर।
<br>
सोच रहा था मन ही मन, भगवान नहीं है अब खैर॥
<br>

सच है साईं जैसा दानी, मिल न सकेगा जग में।
<br>
अंश ईश का साईं बाबा, उन्हें न कुछ भी मुश्किल जग में॥
<br><br>

स्नेह, शील, सौजन्य आदि का, आभूषण धारण कर।
<br>
बढ़ता इस दुनिया में जो भी, मानव सेवा के पथ पर॥
<br>

वही जीत लेता है जगत के, जन जन का अंत:स्थल।
<br>
उसकी एक उदासी ही, जग को कर देती है विहल॥

<br><br>
जब-जब जग में भार पाप का, बढ़-बढ़ ही जाता है।
<br>
उसे मिटाने की ही खातिर, अवतारी ही आता है॥
<br>

पाप और अन्याय सभी कुछ, इस जगती का हर के।
<br>
दूर भगा देता दुनिया के, दानव को क्षण भर के॥
<br><br>

ऐसे ही अवतारी साईं, मृत्युलोक में आकर।
<br>
समता का यह पाठ पढ़ाया, सबको अपना आप मिटाकर॥
<br>

नाम द्वारका मस्जिद का, रखा शिरडी में साईं ने।
<br>
दाप, ताप, संताप मिटाया, जो कुछ आया साईं ने॥
<br><br>
सदा याद में मस्त राम की, बैठे रहते थे साईं।
<br>
पहर आठ ही राम नाम को, भजते रहते थे साईं॥
<br>

सूखी-रूखी ताजी बासी, चाहे या होवे पकवान।
<br>
सौदा प्यार के भूखे साईं की, खातिर थे सभी समान॥
<br><br>

स्नेह और श्रद्धा से अपनी, जन जो कुछ दे जाते थे।
<br>
बड़े चाव से उस भोजन को, बाबा पावन करते थे॥
<br>

कभी-कभी मन बहलाने को, बाबा बाग में जाते थे।
<br>
प्रमुदित मन में निरख प्रकृति, आनंदित वे हो जाते थे॥
<br>
<br>
रंग-बिरंगे पुष्प बाग के, मंद-मंद हिल-डुल करके।
<br>
बीहड़ वीराने मन में भी स्नेह सलिल भर जाते थे॥
<br>

ऐसी सुमधुर बेला में भी, दुख आपात, विपदा के मारे।
<br>
अपने मन की व्यथा सुनाने, जन रहते बाबा को घेरे॥
<br><br>

सुनकर जिनकी करूणकथा को, नयन कमल भर आते थे।
<br>
दे विभूति हर व्यथा, शांति, उनके उर में भर देते थे॥
<br>

जाने क्या अद्भुत शक्ति, उस विभूति में होती थी।
<br>
जो धारण करते मस्तक पर, दुख सारा हर लेती थी॥
<br><br>

धन्य मनुज वे साक्षात् दर्शन, जो बाबा साईं के पाए।
<br>
धन्य कमल कर उनके जिनसे, चरण-कमल वे परसाए॥
<br>

काश निर्भय तुमको भी, साक्षात् साईं मिल जाता।
<br>
वर्षों से उजड़ा चमन अपना, फिर से आज खिल जाता॥
<br><br>

गर पकड़ता मैं चरण श्री के, नहीं छोड़ता उम्रभर॥
<br>
मना लेता मैं जरूर उनको, गर रूठते साईं मुझ पर॥
<br>
<br>
।।इतिश्री साईं चालीसा समाप्त।।

</p>
<br><br><br><br>
  {%endblock%}
