<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">


     <p style="color:white;">

 <p style="color:white;">

<h1>No of views:{{count}}</h1>
<br><br><br>
     </p>


 <hr>
</div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
{%endblock%}
