

<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Sai Divya Pooja</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/divyabook.jpg" %}" alt="baba" width="200" height="260"> <br>Sai Divya Pooja<br><hr>
 <p style="color:white;">
   <h4>Sri Sai Divya Puja​</h4><p style="color:white;">
     <a href="https://www.amazon.in/Divya-Pooja-Book <button type="button" class="btn btn-success">
       To purchase Divya pooja telugu book in amazon-Click here</a> <br><br>
   <strong>(For Happiness, peace, prosperity and fame, Miraculous puja)</strong> <br>


   Many devotees did this puja and got their wishes fulfilled.<br>


   Sri Sai Mahima​ <br>
  <imp> Sri Sai baba always said that “how strong your belief is that great the results of the prayer will be” .
    Also difficulties and doubts finally bring true faith in us, Every one has to go through a lot of struggles
    in life. If we have strong faith in baba and pray to him with devotion we will get good results.</imp>
<br><hr> <p style="color:white;">

   Some say Sai is a bagwat baktha some say he is Lord himself. He is the lord who came in human
   form to help his bakthas and made Shirdi his home. Bhaktas experience his leelas even now. Those who trust
    baba and are devoted to him don’t have any problems in life. Sai baba always takes care of them. Those who have true
     devotion to baba get all kinds of happiness in life. Sai leelas are great, He fulfills the wishes of each and every
      one of his devotees. So kind and loving is our Sai baba. <br><br>


   Sri Sai Divya Puja Procedure​ <br><br>



   One should do this divya puja on Thursday.<br>
   One should take a vote to do the divya puja for 5, 7, 11 or 21 Thursdays <br>
   Men, women and kids can do this puja <br>
   Anyone from any religion, or caste can do this puja <br>
   Do this puja with full devotion and faith in baba <br>
   Do not fast while doing this divya puja. Eat your meals. Baba does not like anybody fasting. <br>

   This is a really great and miraculous puja. Before doing the divya puja take a small white piece of cloth the
    size of your palm. Put it in turmeric water and dry it the previous day. <br>


   On the Thursday that you begin the puja. Put babas idol or photo on a new piece of cloth in your shrine.
   Put chandanam and tilakam for baba. According to your shradha and financial capacity make a mala of sweet scented
   flowers and put it for baba. Offer lamps with ghee. Offer Agarbathi and dhoop. Keep Lord Ganesha idol or photo or any
   other gods photos along with Baba while doing this puja. <br>
   After having kept everything ready for the divya puja in front of baba put a 1 or 2 rupee or dollar coin
   in the turmeric piece of cloth and tie it. Tell baba your wish and do sankalpa to do the puja for 5, 7, 11, 21 weeks.
   Keep this next to baba. You need to tie the rupee in the cloth only on the first Thursday you begin the puja. <br>
   Keep some flowers for the puja. Do a Namaskaram to Sai and say the ashtotram while putting flowers or flower petals on baba. Then read the 6 stories given here. <br>
   Then sing babas songs or meditate on baba, give arathi and make Kichidi for prasadam and offer it to baba. After finishing the number of weeks you have vowed to do. You need to do udyapana,
    Invite, ladies, men or kids to your house as many as you can, give them Kichidi as Prasad and then this book. <br>
   According to your wish you can distribute 5, 11, 21,51 or 101 books. This divya puja book which propogates Sais miracles and fame. Any body can distribute these books in any number, The more
   books you can distribute, the more better blessings you get.<br>
   You should not do this puja without eating anything. Baba does not like fasting. You must eat when doing this puja. Baba said “ If any one meditates on me with an empty stomach, I don’t accept it”
   <br>
   After you have taken a vow and finished the divya puja (5, 7, 11 or 21 weeks) you can take a vow and do it again for 5, 11 or 21 weeks. If you cannot do the puja on a particular Thursday due to some
    circumstances do it the next Thursday. Make sure you finish the number of Thursdays you took the vow for. Do the puja only in your house. <br> <br>
   Sai Divya Puja Begins <br> <br>
At this point i added extra point to do ganapathi pooja, It is not written in book plz kindly note (It is one own wish of doing it according to your belief) offer yellow rice at ganapathi saying om ganapathiye namaha 3 times and make your wish and pray for removing any hurdles
 for doing this pooja and making it successful. <br>

   First do the ashtortram as given below. <br>
   Om Sri Sainadhai Namaha <br>
   Om Sri Sai Lakshmi Narayanaya Namaha <br>
   Om Sri Sai Krishna Rama Shiva Marutyadhi Roopayanamaha <br>
   Om Sri Sai Shesha Sainenamaha <br>
   Om Sri Sai Godhavari tatha Shirdi vasine Namaha <br>
   Om Sri Sai Baktha Hrudayalayaya Namaha <br>
   Om Sri Sai Sarva Hrada Nilayaya Namaha <br>
   Om Sri Sai Bootha Vasaya Namaha <br>
   Om Sri Sai Bootha Bavishya Dbava Varjithaya Namaha <br>
   Om Sri Sai Kala thithaya Namaha <br>
   Om Sri Sai Kalaya Namaha <br>
   Om Sri Sai Kala Kalaya Namaha <br>
   Om Sri Sai Kala Darpadamanaya Namaha <br>
   Om Sri Sai Mrutyunjayaya Namaha <br>
   Om Sri Sai Amruthyaya Namaha <br>
   Om Sri Sai Mruthyu bhaya pradhaya Namaha <br>
   Om Sri Sai Jeeva dharaya Namaha <br>
   Om Sri Sai Sarva Adharaya Namaha <br>
   Om Sri Sai Bhakta vana Samardhaya Namaha <br>
   Om Sri Sai Bhakta vana Pratigyaya Namaha <br>
   Om Sri Sai Anna vastra daya Namaha <br>
   Om Sri Sai Arogya Shema Daya Namaha <br>
   Om Sri Sai Dhana Mangalya Pradhaya Namaha <br>
   Om Sri Sai Bhuddhi Siddhi Pradhaya Namaha <br>
   Om Sri Sai Putra Mitra Kalatra Bandudaya Namaha <br>
   Om Sri Sai Yoga shema Vahaya Namaha <br>
   Om Sri Sai Aapadhbandavaya Namaha <br>
   Om Sri Sai marga Bandave Namaha <br>
   Om Sri Sai Bukthi Mukthi, Swarga Pravarga Dayane Namaha <br>
   Om Sri Sai Priya yen Namaha <br>
   Om Sri Sai Preethi Vardhanaya Namaha <br>
   Om Sri Sai Antharyamine Namaha <br>
   Om Sri Sai Sachi Dhatmane Namaha <br>
   Om Sri Sai Nithya Anandaya Namaha <br>
   Om Sri Sai Parama Sukha Dayine Namaha <br>
   Om Sri Sai Parameshwaraya Namaha <br>
   Om Sri Sai Para Brahmane Namaha <br>
   Om Sri Sai Para Matmane Namaha <br>
   Om Sri Sai Gyana Swaroopine Namaha <br>
   Om Sri Sai Jagat Pitre Namaha <br>
   Om Sri Sai Bhakta Nam Matru Datru Pita Mahaya Namaha <br>
   Om Sri Sai Bhakta Abhaya Pradhaya Namhaha <br>
   Om Sri Sai Bhakta Paradheenaya Namaha <br>
   Om Sri Sai Bhakta Anugrahakaraya Namaha <br>
   Om Sri Sai Sharanagatha vatsalaya Namaha <br>
   Om Sri Sai Bhakthi Shakthi Pradhaya Namaha <br>
   Om Sri Sai Gyana Vayragya Pradhaya Namaha <br>
   Om Sri Sai Prema Pradhaya Namaha <br>
   Om Sri Sai Sanshaya Hrudhayaya Namaha <br>
   Om Sri Sai Dhaurbalya Papa Karma Vasana Shaya Karaya Namaha <br>
   Om Sri Sai Hrudhaya Grandha bedhakaya Namaha <br>
   Om Sri Sai Karmadwansine Namaha <br>
   Om Sri Sai Shudha Sathya Sthithaya Namaha <br>
   Om Sri Sai Gunatheetha Gunathmane Namaha <br>
   Om Sri Sai Anantha Kalyana Gunaya Namaha <br>
   Om Sri Sai Ameetha Parakramaya Namaha <br>
   Om Sri Sai Jayane Nnamaha <br>
   Om Sri Sai Durdharashobyaya Namaha <br>
   Om Sri Sai Aparajithaya Namaha <br>
   Om Sri Sai Trilokesha Aviputhagathiye Namaha <br>
   Om Sri Sai Ashakya Rahithaya Namaha <br>
   Om Sri Sai Sarva Shakthi Murthye Namaha <br>
   Om Sri Sai Suroopa Sundaraya Namaha <br>
   Om Sri Sai Sulochanaya Namaha <br>
   Om Sri Sai Bahuroopa Vishwa Moorthye Namaha <br>
   Om Sri Sai Aroopavyakthaya Namaha <br>
   Om Sri Sai Achinthyaya Namaha <br>
   Om Sri Sai Sooshmaya Namaha <br>
   Om Sri Sai Sarva Antharyamine Namaha <br>
   Om Sri Sai Mano vagatheethaya Namaha <br>
   Om Sri Sai Prema Moorthye Namaha <br>
   Om Sri Sai Sulabha Durlabhaya Namaha <br>
   Om Sri Sai Asahaya Sahayaya Namaha <br>
   Om Sri Sai Anaadha Naadha Deena Bandhuve Namaha <br>
   Om Sri Sai Sarva Bhaara Bruthene Namaha <br>
   Om Sri Sai Akarmane ka Karma Sukarmane Namaha <br>
   Om Sri Sai Punya Shravana Keerthanaya Namaha <br>
   Om Sri Sai Teerthaya Namaha <br>
   Om Sri Sai Vasudevaya Namaha <br>
   Om Sri Sai Santhagathye Namaha <br>
   Om Sri Sai Sathparayanaya Namaha <br>
   Om Sri Sai Lokanathaya Namaha <br>
   Om Sri Sai Pavananapuyaya Namaha <br>
   Om Sri Sai Amruthanshave Namaha <br>
   Om Sri Sai Bhaskara Prabhaya Namaha <br>
   Om Sri Sai Brahmacharya Tapascharya Suvrathaya Namaha <br>
   Om Sri Sai Sathya Dharma Parakramaya Namaha. <br>
   Om Sri Sai Sidheshwaraya Namaha <br>
   Om Sri Sai Yogheshwaraya Namaha <br>
   Om Sri Sai Bhagvate Namaha <br>
   Om Sri Sai Bhaktha Vatsalaya Namaha <br>
   Om Sri Sai Sathpurushaya Namaha <br>
   Om Sri Sai Purushothamaya Namaha <br>
   Om Sri Sai Sathya Thathva Bhodhakaya Namaha <br>
   Om Sri Sai Kaama Dheesha Dhweridwansine Namaha <br>
   Om Sri Sai Abhedhanandhaya Namaha <br>
   Om Sri Sai Sama Sarva Matha Samathaya Namaha <br>
   Om Sri Sai Sri Dhakshina Moorthye Namaha <br>
   Om Sri Sai Sri Venkatesha Ramanaya Namaha <br>
   Om Sri Sai Adhbuthanantha Charyaya Namaha <br>
   Om Sri Sai Praparnarthi Haraya Namaha <br>
   Om Sri Sai Sansara Sarva Dhukha Shaya Karaya Namaha <br>
   Om Sri Sai Sarva vutsarvatho Mukhaya Namaha <br>
   Om Sri Sai Sarva Antharbahisthithaya Namaha <br>
   Om Sri Sai Sarva Mangala Karaya Namaha <br>
   Om Sri Sai Sarva Bhishta Pradhaya Namaha <br>
   Om Sri Sai Samarsanmargha Sthapanaya Namaha <br>
   Om Sri Sai Samartha Sadhguru Sri Sai nathaya Namaha <br><br>
Baba miracles <br> <br>
   Adhyayam 1 <br>
   Baba helped Keep a breaking family intact and blessed the family with a baby boy <br>


   One day I came from office picked my child from daycare and came home. My neighbouring lady came and said “sister can I talk to you please”. She looked sad. I felt bad for
   her. I said sure come in and sit. “ What happened why do you look sad do tell me, with babas grace I will help you as much as I can.” <br>
   “Sister what do I say I am leaving the house and going away I am really in bad situation.” She said. I did not know what to say. I felt it was a big mistake,<br>
   I gave my little boy something to eat and set the tea to boil, then I went near her and asked what happened. She said, I am leaving my house and going to my parents place. I cannot take it anymore,
    I have a hole in my heart and cannot take stress.” <br>
   I told her to tell what happened more detailedly. I was worried and felt her decision was wrong since she had a 3 year old girl and was pregnant too. <br>
   She said “ The doctor took scan of the baby and said it is a girl, everybody in the house wants a boy and they keep saying bad things to me. On one side my husband is stressed since his business
   is not doing well. I cannot take all this any more.” <br>
   I said “Will you listen to me” “I will do what ever you want me to do sister” she replied. <br>
   Then I told her today is Wednesday. a small handkey new one and dip it in turmeric water and dry it. Tomorrow morning put a 1 rupee coin in it sit in front of baba and tell your wish tie it and keep
    it in the shrine then pray to baba with ashtotram, flowers, dhoopam and deepam. Offer Kichidi as naivaidya. She said I will do exactly as you say and went home quiet happy. <br>
   The next day evening I went to call her. She said I will come to your house in a few minutes, After a few minutes she came home and explained, Baba answered my prayers, He did a miracle, Today
   again my mother-in-law took me to the docter, The doctor did another scan but could not read it properly after a while the electricity in the clinic went off so The doctor took me and my mother-
   in-law to the hospital and read the scan and informed us that the last scan was wrong and that I am going to have a boy. Everybody in the house is very happy and so am I.” <br>
   Later they had a healthy boy and lived happily with the two kids, Her husbands business improved, they made good money and even brought a car. <br>
   This is the first story for Babas Divya Puja <br>
   Akhilanda Kothi bramahnda Naika Rajadhi Raja Yogi Raja, <br>
   Sadguru, Sachidananda Sai Nadh Maharaj Ki Jai. <br><br>
   Adhyayam 2 <br>
   Baha helps Get rid of alchoholism <br>
   Shakuntala Bai was working at my house as a servant maid. She worked in 2 -3 other houses and was good natured. She had an 18 year old daughter, who worked with Shakuntala in some of the houses.
    Her husband was an alcoholic, He was good electrician but never worked. he never worked and took her money and spent it on alcohol.<br>
   She always saw me pray to baba and one day she told all her problems to me and asked me to suggest some puja. I said on Sunday we have Sai Bhajan and Puja at our house bring him, let him take the
   Prasad and vibhuti. She did as I suggested. <br>
   Soon her husband not only quit drinking, He even started working and gave his salary to Shakuntala. He saved money for their daughters wedding. The next year only they got their daughter married to a nice boy.
   Now Shakuntala is a great devotee of Baba. <br>
   This is the second story of Baba Divya Puja <br>
   Akhilanda Kothi bramahnda Naika Rajadhi Raja Yogi Raja, <br>
   Sadguru, Sachidananda Sai Nadh Maharaj Ki Jai. <br><br>
   Adhyayam 3​ <br>
   Got results on the very first Thursday two times <br>
   I am Sandhya Yadav and run a hostel in Indore. My father is a great devotee of Sri Sai Baba. My sister lives in Badhnagar a town close to Indore. She also is a devotee of Sri Sai Baba. One day she
   phoned me and said “Akka, In indore in Anup Nagar, Srimathi K. Padmavathi lives. In her house today they are having Baba Darbar. From there get some books of Baba Divya Puja and send them to me” <br>
   I went to Srimathi K. Padmavathi’s house and attended Baba Darbar. I took some books about Baba Divya puja. I send some copies to my little sister living in Badnagiri. I kept a copy for myself. I vowed to do
    the puja for 5 weeks and did it with a lot of devotion. Every week I would go to Sai Darbar at Anup Nagar. <br>
   I got results in the first week itself. My husband had to receive some money that he could not get for a long time. The first week of my puja he recovered his money without any effort.
   I was very happy to get the result in the first Thursday of the puja itself. <br>
   My younger daughter Eesha studies at Maharashtra. One day at 8:00 pm she called me and was very tensed. She said the results are coming tomorrow and only 17 % passed. <br>
   She asked me to pray for her. I assured her that I will pray for her. That day was the Wednesday. I next day was Thursday and it was the 5[SUP]th[/SUP] Thursday fo the divya puja. I took a vow
   that I will do divya puja again for 5 weeks and that Sri Sai Baba should bless my daughter with good results. That day in the afternoon at 4 pm. Isha called happily saying she passed. I was very
    happy and did the puja for 5 weeks. I am very grateful to Sri Sai baba for fulfilling my wishes on the first Thursday of the puja two times. <br>
   This is the 3rd story of the Divya Puja <br>
   Akhilanda Kothi bramahnda Naika Rajadhi Raja Yogi Raja, <br>
   Sadguru, Sachidananda Sai Nadh Maharaj Ki Jai. <br><br>
   Adhyayam 4 <br>By Babas grace the devotee brought a house
 <br>   I am Vandana Rao, We live in Balaganj Mandsoor. We live in a rented house. Like everyone else I wanted to buy a house of my own. I wanted to buy the house we had rented. <br>
   In Mansoor in Forest Colony, there is a Sri Sai Mandir. I go often to that Mandir. There I met a baktha called Sri Anil Tiwari. While discussing other things I mentioned that our financial
   state was not that good and I could not buy an own house. He gave me a small idol of Sri Sai baba that he got from Shirdi, He also gave me Sri Sai Divya Puja book and said, If I pray in the
   way they described in the book Sri Sai Baba will surely fulfill my wish. Immediately I vowed to do the puja for 7 Thursdays. <br>
   After 2-3 weeks I met Tiwariji at the temple again. He asked me <br>
   “Did you start the divya puja?<br>
   I said “Yes but my wish does not seem like it is being fulfilled, “ He asked me are you doing it just as described in the book” <br>
   I said yes accept I am not reading the ashtotram. He said you need to do the ashtotram (108 names )with flowers Then baba will surely fulfill your wishes.​ <br>

   As he said, I began again and did 7 weeks puja with devotion. By the 7[SUP]th[/SUP] week all our circumstances were good, we got the money we needed and we brought the house we were living in. <br>

   This is the 3rd story of the Divya Puja <br>
   Akhilanda Kothi bramahnda Naika Rajadhi Raja Yogi Raja, <br>
   Sadguru, Sachidananda Sai Nadh Maharaj Ki Jai. <br><br>
   Adhyayam 5 <br>
   Got a job by babas grace <br>
   My name is Suman I live in Astanaganj, Indore. My son Gaurav did M.B.A in Ujain. He got a campus placement in I.C.I.C.I bank They selected 8 students for jobs from his college. <br>
   We were very happy about it. But we did not receive the appointment letter for 6 months everyone else who got selected with him received the letter. I kept telling Gaurav to have faith in Baba and pray to Sri Sai Baba. One day I told him about the Divya puja. I vowed and began 5 weeks of divya puja. Gaurav too vowed and began the puja, After doing the puja for 4 weeks on December 13[SUP]th[/SUP] 2005. Gaurav got his appointment letter and joined the job.
   In this way before the 5[SUP]th[/SUP] week was over itself Gauravs wish was fulfilled by Sri Sai Baba. <br> <br>
   I am Srimathi Pujari, I live in Malva Vijaynagar, Indore. I took a vow to do 11 weeks of divya puja for my brothers job. By the 10[SUP]th[/SUP] week my wish
   got fulfilled and my brother got a good job; <br><br>

   I am Srimathi Rao and I live in Vaibhav nagar Indore. As soon as I learnt about Babas Divya puja I vowed to do 5 weeks. On the second week itself my wish was fulfilled.
<br><br>Offer naivedhyam  <br>Give arthi <br>pooja is done <br>

May baba bless you <br>
     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
