
<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">5 Diyas Pooja</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/divya.jpg" %}" alt="baba" width="200" height="260"> <br>5 Diyas Pooja<br><hr>
 <p style="color:white;">
   <h4>The source of this pooja is difficult to find, it is circulated to many sai devotees and performed one after other
     its a chain cycle.Even though this pooja doesnt need
   much formalities it really ended with good positive vibrations and some of my friends got their visa stamping done by doing this pooja.
   For any health issues, job pressures, family issues, kids education and i can say for every single sufferings of urs this pooja can be done to get blessings
 of baba and experience his miracles in your life. <br>May baba bless you </h4> <br>
   <p style="color:white;">Five Day Pooja of Sai Baba <br>
   1. This pooja is to be performed for 5 days on regular basis. You can start this pooja on any day but Thursday is preferable. <br>
   2. One has to perform this pooja on for 5 consecutive days in the morning or evening as per your convenience. <br>
   3. Light 5 lamps in front of Sai Baba. <br>
   4. Offer one flower in the holy feet of Sai Baba. <br>
   5. Offer one fruit to Baba and distribute it among family members as prasad. <br>
   6. You can read 108 names of Sai Baba along with chanting Sai SaiSai or any other mantra that you like. <br>
   7. Then in the end, sing Sai Baba Aarti and pray whole heartedly remembering the holy feet of Baba and seek his blessings. <br>
   8. On completion of pooja on 5th day, you need to tell about this pooja to 5 people. ( This may not be necessary to do immediately. Share it only with like minded people in the next few months.)
   Note that I have tweaked this pooja as I don’t believe it too many rules in any pooja or rituals you do for Saint Shirdi Sai Baba. Sai is a very sweet saint and all he looks from you is pure love and devotion.
   If you have pure thoughts and do little good deeds, your life will be good. <br>
   Om Jai Sairam.. <br>
   <br>
   Sai blessings <br>

     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
