<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}

<div class="container">
<p style="color:white;">Shirdi Sai Baba is truly a worldwide divine phenomenon. During his lifetime, he lived the simple life of a beggar with one sole purpose: to bless those who seek his help and healing. There are hundreds of accounts during his lifetime of miracles he performed, thousands supernatural healings and events have been shared and credited to him. His fame has grown far beyond the Indian subcontinent since his death in 1918, a hundred years ago. Today, millions of devotees visit his samadhi (tomb) in Shirdi every year, many traveling weeks to get to the small pilgrimage town of Shirdi, and once reached, they wait sometimes days in line with thousands of other devotees, just to get a glimpse of his tomb and a profound moment in the presence of this Almighty character to pray and give thanks.</p>
   <br> <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static "images/r1.jpg" %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About saibaba</h5>
      <p class="card-text">Shirdi Sai Baba, also called Sai Baba of Shirdi, (born 1838? —died October 15, 1918),
         spiritual leader dear to Hindu and Muslim devotees.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static "images/pooja1.jpg" %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pooja</h5>
      <p class="card-text">Practically anyone can worship Sai Baba, as there is no restriction or rule as such is known as a preacher of self-realization hence his
        worshippers follow a path of honesty,peace and forgiveness.He is easy to please and people regularly light lamps,incense sticks and offer fruits and
        sweets to him.But particularly Thursday is said to be the best day to Worship Sai Baba.One can get peace of mind and many other virtues if one worships SaiBaba with a pure heart on Thursdays.

      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static "images/satcharitra.jpg" %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Satcharitra</h5>
      <p class="card-text">This is the first and foremost book based on the life-story of Shri Sai Baba, which was originally composed
        in Marathi verse form. The writing of the book started in the lifetime of Baba with his blessings.It also has been experienced that during crisis if any devotee is searching for an answer,
        if he randomly opens of 'Shri Sai Satcharitra' praying Baba sincerely and with faith his answer can be found in that open page..Many people have got their desired benefits after reading 'Shri Sai Satcharitra' for a week in a parayana form.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>


    </div>
  </div>
</div>
<br><hr>
<div class="card-deck">
<div class="card">
  <img class="card-img-top" src="{% static "images/maha5.jpg" %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mahaparayan</h5>
    <p class="card-text">MahaParayan is Global Parayan formed by Poonam wherein devotees virtually read two chapters of Shri
       Sai Satcharitra every Thursday to awaken souls and take them to the path of spirituality by practising Faith and Patience in Holy.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="{% static "images/neem.png" %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Neem Tree Significance</h5>
    <p class="card-text">Sai Baba first manifested Himself as a young boy of 16 years under a Neem Tree in Shirdi.He went to nobody’s door and always sat under the Neem tree. Mahalsapati also used to visit Baba under the Neem tree, now and then.
Some people of Shirdi recognised Baba as the same person who had sat under this neem tree before he returned to shiridi.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="{% static "images/ans.jpeg" %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Saibaba answers</h5>
    <p class="card-text">The Miracle here is that Shirdi Sai Baba will answer your questions...

You can ask him for the solution to any of your problem and seek his guidance to proceed further.

Shirdi SaiBaba gives the answer in crisp and clear terms, and to the point...</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
