<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col"> D.M.Mulky M.B.B.S</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/mulky.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/mulky1.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/mulky2.jpg" %}" alt="baba" width=100%>
  {%endblock%}
