<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Saibaba Navaguruvaar Vratam</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/navbook.jpg" %}" alt="baba" width="250" height="260"> <br>Om sai ram <br><hr>
 <p style="color:white;">
  <strong> Sai Vrat (Nav Guruvar)</strong>
   <p style="color:white;">
     <br>
     <strong>Brief about saibaba navaguruvaar vrat, it is strongly believed my many sai devotees as navaguruvaar is the one of the most powerful
     baba pooja.This is followed by devotees who are looking for job, house, health, family issues, children and more and more.
     Devotees who conduct this vrat never tested by baba he simply granted their wishes. The only offerings from you to this pooja is your faith and patience.
     <br>I have numorous experiences of many devotees from my family, friends and also from me. Everytime we do this pooja always ended with surprises from baba as blessings.
     I request you to kindly try this and change your life and be happy.</strong> <br> <hr>
 <hr>
<a href=https://drive.google.com/file/d/0BzHBE4Rn7zmyS0FfOEljUEUyUkE/view <button type="button" class="btn btn-success">To read in Telugu - click here</a>
<br> <br> <a href=https://docs.wixstatic.com/ugd/21f63e_6f4e695f1b24488886ed8520715c737b.pdf?index=true<button type="button" class="btn btn-success">
    To read in Hindi - click here</a>
    <br><br> <a href=https://docs.wixstatic.com/ugd/21f63e_0c5065adce044e4cb2f83cafbd7e20df.pdf?index=true
    <button type="button" class="btn btn-success">To read in Kannada - click here</a>
    <br><br>  <a href=https://docs.wixstatic.com/ugd/21f63e_eb041629653943bdbd475947265ac28b.pdf?index=true
    <button type="button" class="btn btn-success">To read in Tamil - click here</a>
        <br><br> <a href=https://docs.wixstatic.com/ugd/21f63e_318d6b462b334698b670e6f87092d679.pdf?index=true
        <button type="button" class="btn btn-success">To read in Sanskrit - click here</a>
          <br><br>
          <a href=https://docs.wixstatic.com/ugd/21f63e_cade34c88e60490f99583e4c986fb763.pdf?index=true
          <button type="button" class="btn btn-success">To read in Marathi- click here</a>
            <br><br>
          <h4>In English </h4>
  <p style="color:white;"> Om Sai Ram… On Thursdays<br> <hr>
       <p style="color:white;">
    Instructions: <br>  <p style="color:white;">
   It is for sure that if a person places his faith in Sai’s holy feet and observes
   the vrat of 9 Thursdays, all his desires and wishes will be fulfilled and
   shackles removed. The rules for observing this vrat is given below:<br>
   1. This Vrath can be observed by anyone, by persons of any caste or religion.<br>
   2. Sincere faith and devotion while observing this Vrat yields miraculous
   results.<br>
   3. This Vrath should be started on a Thursday with a simple prayer to Sai to
   get the desire and wish fulfilled.<br>
   4. On these Nine Thursday, individual who is doing vrat can eat
   fruit/milk/sweets etc. all day long or can have one meal a day. ONE MUST
   NOT DO THIS VRAT WITHOUT EATING ANYTHING.<br>
   5. If possible, go to SAI BABA’s temple to have SAIBABA’s darshan on these
   Nine Thursday.<br>
   6. At home, do pooja / prayer in the morning or evening. Place a wooden
   board
   Put Yellow Cloth in front of you and place SAI BABA’s Photo or Statue on
   this cloth. Wash or wipe BABA’s picture with clean water and cloth. Put
   “tikka (Bindi on the forehead)” with “kumkum” (red powder) on BABA’s
   face. Offer Him garland or flowers of yellow color. Light a lamp and incense
   sticks in front of His photo. Meditate and pray to Him, convey your wishes
   to Him faithfully. Offer Fruit or Sweets to BABA as Naivadhya (Prasad),
   distribute and partake the consecrated food. Read the book completely and
   sing SAIBABA’s Aarti.<br>
   7. Even if the devotee has to travel to other cities, this worship can be
   observed. <br>
   8. During the 9 Thursdays due to menstrual cycles for ladies or for any
   other reasons, if you are not able to perform this worship, skip that
   Thursday and perform this worship in the consecutive Thursday. <br>
   Completion of Vrat: <br>
   1. On the 9th Thursday, feed 5 poor people according to capacity. <br>
   2. To spread the efficacies of this vrat, distribute SaiBaba vrat books to 5 or
   11 or more, freely. <br>
   3. On 9th thrusday, place these books in puja so that receivers will also be
   blessed. <br>
   By following above rules if the vrat is observed and completed with due
   formalities, the devotees wishes will certainly be fulfilled by Sai’s grace.<br> <br>
   Pooja starts with Vrat Stories, lit diya and dhoop sticks and start pooja by reading stories:<br><hr>    <p style="color:white;">
  <strong> Story behind the Sai Vrat Pooja :</strong> <br>
   A pios lady named Kokila and her husband Mahesh were living in a city.
   They had great affection towards each other. But Mahesh’s nature was
   quarrelsome and had little control over his speech and talking. Neighbors
   were irritated by his nature. But Kokila was a pious religious lady. She had
   immense faith in God a nd coped up all troubles patiently.
   Slowly her husband’s business went through a rough weather and income
   was almost nil. Mahesh started staying in house the entire day and his
   quarrelsome nature worsened. <br>
   One afternoon, an aged saint came and stood at the entrance of their home.
   His face shone with a unique luster. He asked for rice and pulses. The saint
   blessed her ‘Sai will bless you with happiness’. Kokila replied in frustration
   that happiness is not in her destiny and narrated him, her entire sorrowful
   story. <br>
   The Saint advised her to observe SaiBaba’s vrat for 9 Thursdays by having
   fruits, liquids or by taking food only once on Thursday. If possible to visit
   Shirdi Baba’s Mandir, perform worship at home, complete the vrat with due
   formalities on 9th Thursday by feeding the poor, distribute Sai Vrat books
   to 5, 11 or 21 persons according to the devotee’s capacity and thus spread
   the power of Sai Vrat. This has miraculous effects and is best suited for this
   kaliyug. It fulfills the innermost wishes of a devotee. But the devotee should
   have immense faith and devotion towards SaiBaba. Whoever observes this
   Vrat with due formalities, all his desires will be fulfilled by Baba.
   Kokila also took a vow to observe 9 Thursdays vrat and she completed it
   with all formalities like feeding the poor, distribution of Sai vrat books on
   9th Thursday. <br>
   The troubles in their house vanished and they were filled with peace and
   happiness. As Ramesh’s quarrelsome nature also changed for good, his
   business also picked up, and they prospered and started living happily.
   One day Kokila’s brother in law and his wife came from Surat and amidst
   conversation, they told sadly that their children are not studying well and
   they failed in their examination. Kokila explained to them the power of 9
   Thursdays Sai Vrat and she told them that devotion to Sai will enable their
   children to study well. But faith and patience are very important. Kokila’s
   sister in law wanted the details about the vrat.
   Kokila told her to observe the fast by taking fruits, liquids or have food only
   once on all 9 Thursdays. Have darshan of Sai in a nearby SaiMandir on all 9
   Thursdays. <br>
   1. This Vrat can be observed by any man, woman or child, by persons of any
   caste or religion. <br>
   2. Perform Puja to Sai’s photo, offer yellow flowers or garlands, light the
   lamp, incense sticks and offer naivedya and partake the Prasad with
   everyone. <br>
   3. Read Sai Vrat story, Sai Bhavani, Sai Chalish, etc., the full book
   respectively. <br>
   4. Feed 5 persons on 9th Thursday <br>
   5. Distribute Sai vrat books (5, 11 or 21) to neighbours, friends or relatives
   and other known persons. <br>
   After some days, Kokila received a letter from her sister-in-law from Surat
   stating that her children have started doing the Sai vrat and they have
   started studying well and she has also observed the vrat and distributed sai
   vrat books at her office. Regrading this, she had written that her friend
   Charu’s daughter’s marriage was fixed with a good suitable alliance because
   of this vrat and one of her neighbour’s jewel box had got lost and after
   observing Sai vrat, 2 months later she got back her jewel box (sender being
   unknown). Such wonderful experiences she had narrated in her letter.
   Kokila realized the power of Sainath and sai vrat and her devotion towards
   Sainath strengthened. Oh! Sai! Please bless us and confer us with
   happiness. <br><br><strong>
   Miraculos effects of Sai Vrat</strong>
   Knee pain vanished miraculously <br>
   (Experience of Nisha Jani) <br>
   Whatever the disease may be, if a person cries in despair to Sai, Sai relieves
   him of the pain and cures him of the disease. <br>
   I was suffering from severe pain in my knees. A few days back, my legs were
   fractured and bones near my knees were broken severly. Doctor suggested
   an operation, but I refused. I became alright after some days. Suddenly pain
   started again. I couldn’t dare to walk even few steps for a week and the pain
   was so severe. All our family members were planning for a Shirdi trip
   during holidays and also for a Rajasthan trip. It was impossible for me to
   even think of accompanying them. I had created a scene because of my pain
   and I started feeling that I will not be able to walk in future.
   I had faith in Sainath. I had done fasting before but not with any formalities
   or rules. One of my acquaintances told me the power of 9 Thursdays Sai
   vrat. I also wished to observe the vrat. I somehow gathered courage and
   rode my scooter to Sai Mandir. I prayed to Him that I also want to visit
   Shirdi and would like to visit Rajasthan, the pain is unbearable and if my
   knew pain vanishes before I step out of the Mandir, I vow to observe 9
   Thursdays Sai vrat. <br>
   I had never experienced such a wonderful miracle in my life. As I stepped
   out of the temple, my knee pain vanished miraculously. I felt very happy; I
   visited Shirdi, Rajasthan and walked a lot and even trekked mountains with
   Sai’s blessings without any trace of pain. <br><strong> <br>
   Passed SSC Exam with good percentage <br></strong>.
   Hetal was studying in a school and she was not able to concentrate in her
   studies well. She completed her 9th standard with great difficulties. She
   always complained that she could not remember anything. Her parents
   were worried about her tenth standard. She failed in all subjects in
   quarterly, half yearly exams in tenth standard. Some well wishers advised
   her to observe 9 Thursdays vrat and she started observing Sai vrat and
   completed it sincerely. Hetal’s memory increased and the teachers who had
   complained earlier started praising her. By Sainath’s grace, she passed SSC
   exams with 75% and she joined science group in 11th standard. <br> <br><strong>
   Tumor Vanished</strong> <br>
   Jalpa had sevre pain in her ears and her hearing ability also reduced to a
   great extent. She consulted an ENT specialist. Doctor told her that a small
   tumor like formation was in the rear part of the ear and surgery was a must
   and biopsy also had to be taken and he told the name of the disease and
   fixed the date for operation. All family members were upset. Jalpa decided
   to observe 9 Thursdays vrat and she postponed the operation. She
   completed the Sai vrat by feeding the poor and distributing the vrat books.
   She went to the hospital and took all the required tests. All test reports were
   normal and the tumor had vanished. Doctor told her that she is absolutely
   normal and there is no need for the surgery. Her faith in Sai strengthened. <br><br><strong>
   Miraculous recovery from a danger</strong>
   Ramesh’s wife was suffering from constipation. She used to have a
   medicine called Harde mixed with warm water as a remedy. One day, she
   had harde with warm water and afterwards noticed that the glass was
   broken and a little piece was missing. She doubted that the glass piece
   would have gone into her stomach along with the medicine. She searched
   for the glass piece but she could not find it. After two hours, blood came
   along with the stools and did not stop. Loss of blood was more and she
   became almost unconscious. It was 1’0 clock in the midnight and Ramesh
   lighted a lamp in front of Shirdi SaiBaba’s photo and prayed that if the flow
   of blood stops and his wife is saved, then he will observe the vow of 9
   Thursdays vrat. After some time, the glass piece came along with stools and
   blood flow also stopped. He took her to the hospital at the same night and
   the doctor told them that it could have been fatal if the glass piece had
   caused any internal injury, but now she was perfectly alright. Ramesh also
   observed Sai vrat and fulfilled his vow.<br><strong> <br>
   Transfer order cancelled</strong> <br>
   Neela was serving in an office. She was transferred from Ahmedabad to
   kutch. Her mother became very upset and fell sick. They tried all means
   and applied requesting to cancel the transfer order. And one more order
   came to her that if she doesn’t join within 10 days she will be expelled from
   the job. Her mother was tensed to send her daughter alone to such a distant
   place. It was a Thursday. Neela’s friend Nandita visited her and advised her
   to observe 9 Thursdays Sai vrat. Neela started the vrat the same day.
   Surprisingly, on third day she received a letter stating that her transfer
   order to Kutch is cancelled and she has been transferred to a branch in
   Ahmedabad itself. Her faith in Sai strengthened and she fulfilled the vow
   and fed the poor and distributed Sai vrat books on 9th Thursday.<br><strong> <br>
   Got a good job after long time</strong> <br>
   Rajani was trying for a good job for almost more than a year. She was
   depressed that she did not receive any calls. She heard about Sai vrat from a
   friend and started it on a Thursday. That Sunday, she got a chance for a test
   and the second Thursday, she got the interview call, the same day she got
   the offer letter and the date of joining was set for the next (i.e, the 3rd
   Thursday). She was so happy as it was her dream company. They had not
   allotted her location based on projects, she wished it was Bangalore itself
   and on the 4th Thursday, it was confirmed that her project was based at
   Bangalore only. <br><strong> <br>
   Other miracles:</strong> <br>
   1. An educated, good looking person was working in an advocate’s office, for
   some reason he could not get married. After observing 9 Thursdays Sai
   vrat, his marriage was fixed with a good looking, employed, good natured
   girl. <br>
   2. A boy had completed M.com but could not find a suitable job. He and his
   mother observed 9 Thursdays Sai vrat and completed with due formalities,
   He got a suitable job. <br>
   3. An artist was a sole bread winner of his family. He could not get good
   roles in TV or films. After observing 9 Thursdays Sai vrat, his demand
   increased and he started getting good roles in TV, regional films and
   prospered well. <br>
   4. A business man faced lots of problems and his income reduced, he
   started Sai vrat and his business picked up and he prospered.
   <br><br><strong>Delivered Baby Girl after 18 years of marriage</strong>
   Mahindra and Rekha were a childless couple. Rekha had to face criticisms
   from her in-laws. She tried lots of medications with no effect. They
   consulted many astrologers. Rekha was a government employee. One day,
   he colleague Suresh distributed sweets and happily told that a son was born
   to him after 10 years. He told about Sai vrat and advised Rekha to observe
   the vreat and gave her the vrat book. Rekha also observed Sai vrat with due
   formalities. She gave birth to a baby girl 18 years after her marriage by Sai’s
   grace. <br>
   SAI SMARAN <br>
   Bless me, Sai! Bless me, Sai! <br>
   Bless Thy child Sai <br>
   Answer my prayers <br>
   Strengthen my devotion <br>
   Bless me, Sai! Bless me, Sai! <br>
   Remove my sorrows <br>
   Shower me with Happiness <br>
   Listen to Thy child’s prayer <br>
   Bless me, Sai! Bless me, Sai! <br>
   Sai is Life, Sai is Prayer  <br>
   Sai is Kirtan, Sai is Wealth <br>
   Sai is Bliss, Sai is Heaven <br>
   Bless me, Sai! Bless me, Sai! <br>
   Sai is Contentment <br>
   Sai is Prace <br>
   Sai is god incarnate <br>
   Sai is Universe <br>
   Sai is mercy, Sai is wisdom <br>
   Bless me, Sai! Bless me, Sai! <br>
   Sai is Righteousness  <br>
   Sai is Deliverance <br>
   Sai is Duty <br>
   Sai is Absolute Reality <br>
   Bless me, Sai! Bless me, Sai! <br>
   Sai is Christ, Sai is Nanak <br>
   Sai is Hindu, Sai is Muslim <br>
   Sai is Truth, Sai is Nectar! <br>
   Bless me, Sai! Bless me, Sai! <br>
   Sai is Shiva, Vishnu, Brahma! <br>
   Sai is simple, loving, caring <br>
   Sai is Mother, Father, Guru  <br>
   Sai is Pran, Sai is soul <br>
   Bless me, Sai! Bless me, Sai! <br>
   Datta Bhavani <br>
   Glory to Yogehswar Datta Digamabar; Thou art our protector and savior; <br>
   Sage Arti and chase Anusuya were mere cause; Thy incarnation is for <br>
   welfare of the universe; Thou are Brahma-Vishnu-Shiva’s incarnation; <br>
   Redeemer for those who surrender with devoution; thou are God, <br>
   knowledge, existence and bliss; thou are glorious sadguru with majestic <br>
   arms; thy hands hold Zoli like Annapurna’s benevolence; Holy kammandal <br>
   in thy hands radiates with peace; Described as God with Four, six and <br>
   numerous hands; Thy powerful shoulder’s might limits to infinite; Oh God! <br>
   I’ve taken refuge at thy Holy Feet; Digambara! Protect me lest better meet <br>
   my end! Thou responded to Sahasarjun’s penance; By granting him <br>
   protection and peace; Thou showered him power, wealth and opulence; <br>
   Blessed him with liberation and deliverance; Why don’t you listen to my <br>
   agonizing prayer? Thou are my only solace and savior! Thou accepted <br>
   Vishnu Sharma’s devotion; Graced him by taking his food-Shraddhman; <br>
   Jambadhaitya demon attacked Gods of heaven; Thou offered help in a trice <br>
   with protection; Thou unfurled illusive power to trap the demon; Got him <br>
   killed by Indra to save the heaven; Thy miraculous deeds are infinite, Oh! <br>
   Sharva (Shiva), how can I describe all Your miracles (sharva) <br>
   Thou saved Ayu’son and wiped his miseries; Blessed and granted him a life <br>
   free of desires! Sadhyadev, yadu, Prahlad and Parshuram; Thou initiated <br>
   them to enlightenment and wisdom; Thou grace is immeasurable and <br>
   endless; Why my calls and prayers are answerless? Don’t leave me halfway <br>
   and test my patience; Oh! God! Don’t deprive me of your benevolence; <br>
   Pleased with Ambika’s love and devotion; Thou granted her a boon and <br>
   became her son; Smarthugami! Savior and Protector in kaliyug! Thou <br>
   blessed the washer man who was rustic; Thy mercy cured a brahmi’s <br>
   stomach pain; Thy grace made Vallabesh alive after his slain; Look at me <br>
   atleast once! Oh! My Lord! Save me, am ignorant of any other abode! Thy <br>
   grace made dry log of wood sprout with leaves; don’t be negligent towards <br>
   me and test my cries! Old, pious Ganga got rid of her infertility; thou <br>
   blessed her with bliss of maternity; Thy grace cured Nandi’s white patches; <br>
   thou fulfilled all his wishes and desires; Thou made sterile buffalo yield <br>
   tons of milk; Thy kindness saved him from penurious brink; Thou accepted <br>
   lima beans as alms; Thou gifted a golden pot in his arms; Thou revived <br>
   Savitri’s dead husband to life; Thus wiped widow’s tears and strife; Thou <br>
   resurrected Gangadhar’s son with life; Thy mercy removes sins of previous <br>
   life; Haughty madhonmat lost to an illiterate; Bhakta Trivikrama was save <br>
   by thy might; Bhakta tantuk reached Mount.Shrishaila; Thy feet took him <br>
   in a trice to Mahadeva; Thou blessed thy devotees taking eight forms; Thou <br>
   have infinite form and no form; Thou satisfied thy devotees simultaneously; <br>
   Blest devotees cherished Thy vision joyously; Thou removed yavan king’s <br>
   painful affliction; Thou art beyond caste, creed, sect and religion; Thy <br>
   miracles are marvelous and countless; In the incarnation of Ram and <br>
   Krishna; thou revived and saved animate and inanimate; Blest were stone, <br>
   hunter, cattle, woman and bird saved; Thy name protects even a sinner who <br>
   sings falsely; Thy name achieves even a difficult task easily; Thy name <br>
   (Shiva) is the only remedy; Thy name removes all (sarva) (physical and <br>
   mental) malady; all evils vanish in a trice on hearing Thy name; Bliss is <br>
   attained by only singing thy name; Ghosts, witches, evil will disappear <br>
   instantly; As the hymns of thy name is in air reverberantly; One who sings <br>
   Datta Bhavani after lighting incense; Is assured of protection by the <br>
   resplendence; Sincere devotion to thee will bring happiness; Earthly life <br>
   and heaven will be filled with bliss; By chanting Datta Bhavani he will <br>
   master Siddhi; Gain prosperity, will overcome sorrow and poverty; One <br>
   who sings Datta Bhavani 52 times for 52 weeks; With true love and <br>
   devotion on 52 Thursdays; Can be certain Yama, Lord of Death will not <br>
   punish; One who sings daily will get all calamities vanish; Datta digambar <br>
   is one God but of many forms; Thou stir us away from illusive power of <br>
   storm; Datta is one God with thousand names; Datta is the holiest of Holy <br>
   bright as flame; Oh! Datta, I bow to Thee time and again; Vedas are formed <br>
   from Thy breath; Learned Shesha is unable to praise Thee fully; How can <br>
   an illiterate like me praise Thee? <br>
   Prayers to Thee give me peace and happiness; souls ignorant about Thee <br>
   are in darkness; Datta! Thou are Lord God! Thou art Almighty; Recite glory <br>
   to Gurudeva Datta whole heartedly; <br><br>
   Shri Sai Bhavani <br>
   Glory to God! Glory to Lord Sai! <br>
   Savior of the world! We bow to thee! <br>
   Datta Digambar incarnation! <br>
   Lead us to the path of salvation! <br>
    Embodiment of Bramhachuta Shankar! <br>
   Comfort and solace to one who surrender! <br>
   Grant thy vision to let my eyes feast! <br>
   Remove our sins and make us blest! <br>
   Simple kafni was thy garment! <br>
   Tin pot, Zoli was thy ornament! <br>
   Thou appeared under holy neem tree! <br>
   Thou led the life of mendicant so holy! <br>
   Thou manifested in this painful kali age! <br>
   Thy grace relieves us from earthly bondage! <br>
   Blessed Shirdi was thy holy residence! <br>
   Thou are quintessence of all essences! <br>
   Thou are Trinity incarnate! <br>
   Thy grace won hearts of animate and inanimate! <br>
   Thy eyes showered love and comparison <br>
   Blest is mother Dwarakamayi! <br>
   She was the home of our Lord Sai! <br>
   Burnt were our sins and painful agony <br>
   In the sacred fire of Sai’s Dhuni! <br>
   My mind wavers like an ignorant lamb <br>
   Oh! Holy shepherd! Bestow us aplomb! <br>
   Thou art Ocean of mercy! Oh1 Sai! <br>
   Lakhs wait with hopes for Thee! <br>
   Blest was Agnihotri Mule shastry! <br>
   Elated with vision of Guru Gopalswamy! <br>
   Shama stung by venomous viper <br>
   Escaped death by Thy infinite power! <br>
   Force of Thy words could quell the storm <br>
   Thou art embodiment of peace and calm! <br>
   Thy act of grinding wheat was a panacea! <br>
   Shirdi was free of malignant cholera! <br>
   Oh! My Lord Sainath! I bow to Thee <br>
   I wallow in Thy lotus feet like a bee! <br>
   Thou listen to my prayer and fulfil my wish <br>
   Guide us to cross sorrows of worldly mesh! <br>
   Bhaktha Bhimaji suffered with severe malady <br>
   Tried all sorts of path for remedy <br>
   Nothing is better than Thy Udi so efficacious <br>
   Thy sacred Udi cured his tuberculosis! <br>
   Thou enthralled Kakaji with Vithal vision <br>
   Blest Kakaji glimpsed Vishnu’s manifestation! <br>
   Thou bestowed Damu with boon of progeny <br>
   Thy blessings surpass fate and destiny! <br>
   Merciful Lord! Shower us with mercy! <br>
   Ocean of Love! I offer obeisance to Thee! <br>
   We surrender our wealth, mind and body to Thee <br>
   Bless us with peace and salvation! Oh! Sai! <br>
   Ignorant Megha confused in casteism <br>
   Disturbed at the thought of praying to Muslim! <br>
   Thy grace made him to see Shiva in Thee <br>
   Thy love made him to become a true devotee! <br>
   Thou turned water to oil for illumination <br>
   Light of lamps burning the egos and illusion! <br>
   Thy wonderful miracle stunned the vendors <br>
   Left them speechless and bowed to thy grandeur! <br>
   Chand Patil searching for his lost mare <br>
   Found a gem in the form of a noble Fakir! <br>
   Blest are Thy devotees for whom Thou care! <br>
   Have faith in Sai with faith and patience! <br>
   Sing and praise glory to Sai with perseverance! <br>
   All our desires will be fulfilled by His grace <br>
   As our hearts hold His flower feet like a vase! <br>
   Thou repaid Bayaja Bai’s loving debt <br>
   Thy loving grace made him wake from deathbed! <br>
   When Tatya battled with life and death <br>
   Thou gifted him life and made him breathe! <br>
   Wild beasts too enjoyed Thy Benignity <br>
   Thou showered them love and pity! <br>
   Thou art Omni present! Thou art Omni Potent! <br>
   Thy devotees know Thou art Omniscient! <br>
   One who surrenders at Thy lotus Feet <br>
   Is ever assured of a life so sweet! <br>
   Thy nectar like sayings are priceless pearls <br>
   Protecting us like a mother Tortoise! <br>
   Thou art in every atom! Oh! Lord Sai! <br>
   Thy omni potence limits to infinity! <br>
   I blame myself for being full of ignorance <br>
   I lack expressions to praise Thy benevolence! <br>
   Thou art protector of helpless and poor! <br>
   Thou descended to earth to be our savior! <br>
   Have pity and mercy on me, Oh! Lord Sai! <br>
   Grant me, I may never be separated from Thee! <br>
   Let me praise Thy glory forever till my death <br>
   Let me sing Thy miracles till my last breath! <br>
   One who chants Thee with faith and patience <br>
   Is certain to attain peace and deliverance! <br>
   Sing Sai Bhavani with love and devotion <br>
   Bow to His feet and rest there with adoration! <br>
    Sai stands besides His loving devotee <br>
   To save him from trouble and calamity! <br>
   Devotion to Sai is the best solace <br>
   He is the God! Controller of the Universe! <br>
   One who has immense devotion and belief <br>
   Has nothing to grieve and assured of relief! <br>
   Sai’s benevolence extends to infinity <br>
   Sai is the reservoir of Tranquility! <br>
   Glory to Lord Sai, The incarnation of Trinity!  <br>
   Bow to Lord Sai! Glory to God and Almighty! <br>
   Anata Koti Brahmanda Nayaka Rajadhi Raja Yogiraja Para Brahma <br>
   Shri Satchit Ananda Sadguru Sainath Maharaj Ki Jai! <br>
   Shri Sainatharpanamastu! Shubam Bhavasthu! <br>
   Shri Sai Chalisa <br>
   Bow to Lord Sai with faith and patience; <br>
   Thy Grace will remove ignorance; <br>
   Blest are the grass, soil and dust of Shirdi; <br>
   By the touch of Sai, they became pure and holy; <br>
   Thou manifested under the neem tree; <br>
   Thy incarnation was the mission of mercy; <br>
   Oh! Sai! Thy grace and power are infinite <br>
   Thy grace guides us beacon light; <br>
   Thy seat made Neem leaves so sweet; <br>
   Thy peaceful radiant face is a visual treat; <br>
   Thou descended on earth as a boy of sixteen; <br>
   Holy and handsome, merciful face of thine; <br>
   Thy radiant, bright, lustrous face; <br>
   Gives us hope to cross the worldly maze; <br>
   Thy grace holds the godess of wealth; <br>
   Thy love blesses the sick with health; <br>
   The words Thy mouth utter are pure nectar; <br>
   No one knew Thy religion, Mother or Father; <br>
   Let our heart be blessed as Thy Holy seat; <br>
   Let our heads be sheltered at Thy Holy Feet; <br>
   Thy loving and merciful looks endear all; <br>
   Lord Sai begging with Tin Pot and Zoli; <br>
   Offerings to Thine made the donors so Holy; <br>
   Oh Sai! Thou art Lord Datta! Thou are Lord Shiva! <br>
   Thou are Lord Ram; Pir avalia and Lord Shyam; <br>
   Thou art Repository of Wisdom; <br>
   Whole Universe is Thy Kingdom; <br>
   As one wishes and prays intently <br>
   Thou shower him blessings lovingly; <br>
   Thy Name has infinite strength and power; <br>
   Thy Name removes anxiety, distress and fear; <br>
   Thou art savior of poor and helpless; <br>
   Thy wonderful miracles and leelas are endless; <br>
   Thou taught us love and equality; <br>
   Thou are symbol of peace and unity; <br>
   Thy feet remove the hatred of caste and creed; <br>
   Thy devotees overcome anger, jealous and greed; <br>
   Thy preachings are pearls of Knowledge;<br>
   Ram and Rahim are One, was Thy message; <br>
   Thy grace gives the diseased good health <br>
   Thy blessings removes sins of all birth; <br>
   Merciful Sai helped the poor and helpless; <br>
   Sacred Udi is the most efficacious; <br>
   Thy merciful looks purifies our body and mind; <br>
   Sins burnt away by the God so kind; <br>
   Oh! Lord Sai! Thou art Antaryami! <br>
   We don’t have anyone except Thee! <br>
   Thou have no caste, sect and religion <br>
   Spreading love and humanity were Thy mission; <br>
   Thou are protector of a simple devotee; <br>
   Thy spirit stands by him during calamity; <br>
   Thy name removes miseries and pain <br>
   Thy name showers happiness rain; <br>
   Thy name gives us immense pleasure; <br>
   Thy Holy Feet is our precious treasure; <br>
   Whoever observes 9 Thursdays vow <br>
   Thy grace removes all his pain and sorrow; <br>
   Meditate Sai’s name with faith, day and night; <br>
   Sai will wipe our pain and relieve us from plight; <br>
   Long Robe adorned Holy Mendicant; <br>
   Uplifting the poor was mission of noble saint; <br>
   The Sweetness of thy words surpasses ambrosia; <br>
   Thy sacred Udi is a wonderful panacea; <br>
   Thou art Spiritual Quintessence; <br>
   Devotion to Thy Feet renders deliverance; <br>
   Thy marvelous act of turning water into oil;<br>
   Spread Thy fame as an aromatic pastille;<br>
   Thy words taught us not to be greedy;<br>
   To be kind and loving to helpless and needy; <br>
   Thy glory and power art infinity; <br>
   Thou art Trinity and Absolute Reality; <br>
   Thy name renders salvation; <br>
   Thy grace wards off consternation; <br>
   Thou are our Guru, guide and Helmsman; <br>
   The only One who ferry us over worldly ocean;  <br>
   Utterance of thy Holy name is the only way <br>
   To keep troubles and sorrows at bay; <br><br>
   Guru OM  <br> <hr>
   Om Shri Sai Ganeshaya Namah <br>
   Om Sat Guru Sainathaya Namah! <br>
   Om Jagatguru Sainathaya Namah <br>
   Om Paramaguru Sainathaya Namah <br>
   Om Devaguru Sainathaya Namah <br>
   Om Sai Shiva Shakthyai Namah <br>
   Om Sai Sarva Shaktimaanaya Namah <br>
   Om Sai Sarvavyaapankaya Namah <br>
   Om Sai Sarva Atmaaya Namah <br>
   Om Sai Alakh Niranjanaya Namah <br>
   Om Sai Sarva Saakshiyaya Namah <br>
   Om Sai Antaryamiyaya Namah <br>
   Om Sai Paripurajatha Namah <br>
   Om Sai AdiShatyai Namah <br>
   Om Sai AnaadhiShaktyai Namah <br>
   Om Sai Ramaya Namah <br>
   Om Sai Trolokinathaya Namah <br>
   Om Sai Thrikaala darshiyaaya Namah <br>
   Om Sai Govindaya Namah <br>
   Om Sai Satchit ananda swarupaya Namah <br>
   Om Sai Bhaktha Rakshakaaya Namah <br>
   Om Sai Paramananda swarupaya Namah <br>
   Om Sai MahaDurgayai Namah <br>
   Om Sai Aakarshana Shathiyaaya Namah <br>
   Om Sai Agnana Vinashakaaya Namah <br>
   Om Sai Yogeeshwaraaya Namah <br>
   Om Sai Purushottama Purushaaya Namah <br>
   Om Sai Shankaraya Namah <br>
   Om Sai Sukha Swarupaya Namah <br>
   Om Sai Kalyana Swarupaya Namah <br>
   Om Sai Jaga Aadhaaraya Namah <br>
   Om Sai Raghunandanaaya Namah <br>
   Om Sai DevaRakshakaaya Namah <br>
   Om Sai Asura Samhaaryaaya Namah <br>
   Om Sai Karma Phala Daataya Namah <br>
   Om Sai Dattatreya Namah <br>
   Om Sai Kartha Purushaaya Namah <br>
   Om Sai Dinabandhu aaya Namah <br>
   Om Sai Bhagat Bhayahaaryaaya Namah <br>
   Om Sai Dukha nivaaranaaya Namah <br>
   Om Sai Akaala Purushaaya Namah <br>
   Om Sai Adi Narayanaaya Namah <br>
   Om Sai Leeladhariyaya Namah <br>
   Om Sai JanahitKaaryaya Namah <br>
   Om Sai Shivshambo aaya Namah <br>
   Om Sai Aapatthi haranaaya Namah <br>
   Om Sai Sharanaagata Vatsalaaya Namah <br>
   Om Sai Madhavaaya Namah <br>
   Om Sai Raakhan Haaraya Namah <br>
   Om Sai Jagat Kaaranaaya Namah <br>
   Om Sai Sadgati Daataya Namah <br>
   Om Sai Maha Kaalikaayai Namah <br>
   Om Sai Karuna Sindhu aaya Namah <br>
   Om Sai Sarveshwaraaya Namah <br>
   Om Sai Jagadheeshwaraaya Namah <br>
   Om Sai Akaala Shakhyai Namah <br>
   Om Sai Patheeta Paavanaya Namah <br>
   Om Sai Viswanathaya Namah <br>
   Om Sai Veda Swarupaya Namah <br>
   Om Sai Sukha Daataaya Namah <br>
   Om Sai Harinarayanaya Namah <br>
   Om Sai Sathya Swarupaya Namah <br>
   Om Sai Sarva Saamarnaaya Namah <br>
   Om Sai Jyoti Swarupaya Namah <br>
   Om Sai Mahalakshmyai Namah <br>
   Om Sai Hari Govindaya Namah <br>
   Om Sai Soham Devaya Namah <br>
   Om Sai Omakr Swarupaya Namah <br>
   Om Sai MahaSaraswatyai Namah <br>
   Om Sai maya Vinaashakaaya Namah <br>
   Om Sai Venkateshwaraya Namah <br>
   Om Sai Hari Vithalaya Namah <br>
   Om Sai Moha Vinaashakaaya Namah <br>
   Om Sai Vipiththi Bhanjanatha Namah <br>
   Om Sai Bhakthi Daataaya Namah <br>
   Om Sai Mukthi Daataaya Namah <br>
   Om Sai Gnana Daataaya Namah <br>
   Om Sai Gopi Vallabhaya Namah <br>
   Om Sai Bhavataarakaaya Namah <br>
   Om Sai SarvaPriyaaya Namah <br>
   Om Sai Aparadha Hartaath Namah <br>
   Om Sai Pandharinaaraaya Namah <br>
   Om Sai Krupa Saagaraaya Namah <br>
   Om Sai Mangalakaari Devaya Namah <br>
   Om Sai Amangalahaari Devaya Namah <br>
   Om Sai Amrut Sindhu aaya Namah <br>
   Om Sai Shanti Daataaya Namah <br>
   Om Sai Chandramouleeshwaraya Namah <br>
   Om Sai Jagat Rupaya Namah <br>
   Om Sai Atma Jyotyaya Namah <br>
   Om Sai Lakshminarayanaya Namah <br>
   Om Sai Abhed Shaktyaya Namah <br>
   Om Sai Vishwaatmaaya Namah <br>
   Om Sai Paramaatmaaya Namah <br>
   Om Sai Bhakta Vatsalaaya Namah <br>
   Om Sai Agni Rupaya Namah <br>
   Om Sai Gayathriyai Namah <br>
   Om Sai Maha Ambikaayai Namah <br>
   Om Sai Dharma Rakshakaaya Namah <br>
   Om Sai Siddhi Daataaya Namah <br>
   Om Sai Riddhi Daataaya Namah <br>
   Om Sai Urprakaaya Namah <br>
   Om Sai Sadhu Raakshakaaya Namah <br>
   Om Sai Chintanaashakaaya Namah <br>
   Om Sai Ananda Moorthaya Namah <br>
   Om Sai Bhagya Vidhaataya Namah <br>
   Om Sai HariHaraaya Namah <br>
   Om Sai Para Brahmaaya Namah <br> <br>
   Naam Smaran <br>
   Hare Ram Hare Ram Ram Ram Hare Hare <br>
   Hare Krishna Hare Krishna Kirshna Krishna Hare Hare <br>
   Hare Sai Hare Sai Sai Sai Hare Hare <br>
   Hare Baba Hare Baba Baba Baba Hare Hare <br>
   Hare Datta Hare Datta DattaDatta Hare Hare! <br>
   Shri SaiBaba Arati <br>
   Arti sai baba, soukhya datar jeeva <br>
   Charan rajatali, dhyava dasa visawa, bhakta visawa – arati Sai Baba <br>
   Jaya mani jaisa bhav, taya taisa anubhav <br>
   Davisi dayadhana, aisee tujhee hi mav – arati Sai Baba <br>
   Tumche nam dhyata, hare sansrity vyatha <br>
   Agaadh tav karni, marga davisi anantha – arati Sai Baba <br>
   Kaliyugi avatar, sagun brahma sachar <br>
   Avteerna jhalase, swami datta digambar – arati Sai Baba <br>
   Atha divasa guruwari, bhakta kariti wari <br>
   Prabhupad pahawaya, bhav bhav niwari – arati Sai Baba <br>
   Majha nijdravya theva,tav charanraj seva <br>
   Magane hechi ata, tumha deva dhideva – arati Sai Baba <br>
   Ichhit din chatak, nirmal toy nij sukh <br>
   Pajave madhava ya, sambhal apuli bhak – arati Sai Baba.. soukhya datar <br>
   jeeva <br><br> <hr>
   Arati Translation (English) <br>
   Oh Sai Baba, we wave lights before You, the bestower of happiness to the <br>
   Jivas. Give us - Your servants and devotees rest under the dust of Your feet. <br>
   Burning (destroying) desire, You remain absorbed in Your Self and show <br>
   the Lord (God) to the aspirants. As one feels intently, You give him <br>
   experiences or realizations accordingly. Oh kind-hearted, Your power is <br>
   such! Meditation on Your name removes our fear of the samsar. Your <br>
   method of work is really unfathomable as You always help the poor and <br>
   helpless. In this Kali age, You - the all-pervasive Datta, have really <br>
   incarnated as Saguna Brahma. Ward off the fear of samsar of the devotees <br>
   who come to You every Thursday so as to enable them to see the feet of the <br>
   Lord. Oh! God of Gods, I pray that let my treasure be the service of Your <br>
   feet. Feed Madhav and (you should utter your name here) with happiness <br>
   as the cloud feeds the Chatak bird with pure water and thus keep up Your <br>
   Word. Amen ! <br><br>
   Sai Baba’s 11 Promises <br>
   • No harm shall befall him who sets his foot on the soil of Shirdi. <br>
   • He who cometh to My Samadhi, his sorrow and suffering shall cease. <br>
   • Though I be no more in flesh and blood, I shall ever protect My devotees. <br>
   • Trust in Me and your prayer shall be answered. <br>
   • Know that My Spirit is immortal. Know this for yourself. <br>
   • Show unto Me he who sought refuge and been turned away. <br>
   • In whatever faith men worship Me, even so do I render to them. <br>
   • Not in vain is My Promise that I shall ever lighten your burden. <br>
   • Knock, and the door shall open. Ask and ye shall be granted. <br>
   • To him who surrenders unto Me totally I shall be ever indebted. <br>
   • Blessed is he who has become one with Me. <br>



     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
