<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Significance of Neem Tree</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/neem.png" %}" alt="baba" width="400" height="260"> <br>Neem Tree<br><hr>
 <p style="color:white;">

   Sai Baba first manifested Himself as a young boy of 16 years under a Neem Tree in Shirdi.<br>
He interacted with no one and had almost nothing in the name of food and water.<br>
He remained alone at night fearing no one. He did not mind heat and cold.<br>
The villagers of Shirdi were wonder-struck to see this boy practicing hard penance.<br>
They wondered whence this young boy had come from.<br>
He went to nobody’s door and always sat under the Neem tree.<br>
Outwardly he looked very young, but by His action he was really a Great Soul.<br><br>


<img src="{% static "images/gurusthan.jpg" %}" alt="baba" width="400" height="260"> <br>Neem Tree<br><hr>
<p style="color:white;">
One day, it so happened that God Khandoba possessed the body of a villager and so the other Shirdi villagers asked him,<br>
“Deva! You please enquire, what blessed father’s son is this boy and whence did He come.” <br>
God Khandoba asked them to bring a pick-axe and dig at a particular place near the Neem tree.<br>
After digging down 5 feet, the villagers found Bricks underneath a flat stone.<br>
They removed the flat stone and saw a corridor that led to a cellar having cow-mouth-shaped wooden structures,<br>
wooden boards, necklaces and 4 brightly burning Lamps.<br>
Khandoba then said, “This boy practiced penance here for 12 years.” <br><br>

Then the people began to question the young boy about this. He put them off by telling them thatit was His Guru’s resting place (Samadhi-Sthana), His holy Watan and requested them to guard it well. <br>
The people then closed the lid at the opening of the corridor as before.<br>
Thus, Mhalsapati and other Shirdi villagers regarded this site holy and prostrated before it.<br><br>



When Sai Baba returned to Shirdi for the second time, in the year 1858,
he used to beg for food from five houses daily and used to live under the Neem tree.<br>
During daytime he used to go to the nearby forest and remain alone.<br>
Sometimes, he used to remain in the forest for four or five days without food or water.<br>
Mhalsapati also used to visit Baba under the Neem tree, now and then
Some people of Shirdi recognised Baba as the same person who had sat under this neem tree a few years back,
and cured the villagers of their ailments. So they started visiting Baba again for getting their ailments cured.<br>
Baba soon got the name of a doctor or vaidya, with extraordinary divine powers.<br>

One Branch of this Neem tree was bend in such a way and that it used to provide Sai Baba shade from the sun.<br>
But, later when the choultry was built, Baba used to take rest there but from there he used to see the Neem tree
and say “For so long you gave me cool shade and help me relieve my exhaustion.<br>
I’m ever grateful to you, let you be ever Sweet.” <br>
So only the leaves of this particular branch only are sweet to taste, even to this day.<br>
Leaves of rest of the branches are bitter.<br><br>

One incidence concerning the Neem tree illustrates how practical and down-to-earth Baba could be. <br>In the early 1900s, after Baba had moved to the mosque,
construction work on Sathe Wada was hampered by a long branch of the tree.<br>
However, nobody wanted to remove it, as this Neem tree had been sanctified by Baba’s stay under it.<br>
When Baba was approached for his advice he told the villagers,
“Cut off however much is interfering with the construction.<br>
Even if it is our own foetus which is lying across the womb, we must cut it !”.<br>
But despite this clear instruction from Baba, none dared to meddle with the Neem tree.<br>
Eventually Baba himself climbed up and lopped off the branch.<br><br>

Later the villagers shifted the residence of Baba from the Neem tree to a dilapidated mosque nearby,
which they repaired making it fit for residence.<br><br>



<strong>– PADUKAS NEAR THE NEEM TREE –</strong><br><hr>
<img src="{% static "images/pad.jpg" %}" alt="baba" width="400" height="260"> <br>padukas<br><hr>

<p style="color:white;">
Once, Bhai Krishnaji Alibagkar, a compounder by profession and a devotee of Shri.Akkalkot Maharaj,
thought of going to Akkalkot (Solapur district)
to offer prayers and have the darshan of the Padukas (foot-prints) of the Maharaj. <br>
But before he could go there, Shri.Akkalkot Maharaj appeared in his dream and said to him,
“Now,Shirdi is my resting place,go there and offer your worship!” <br><br>

So, in 1912, when Dr.Rama Rao Kothare from Mumbai came to Shirdi, Bhai Krishnaji Alibagkar,
his friend and compounder came along.<br>
Bhai Krishnaji Alibagkar got so attached to Baba that he stayed in shirdi for 6 months.<br>
He made friends with two local devotees, G. K. Dixit (not to be confused with H. S. “Kakasaheb” Dixit) & Sagun Meru Naik.<br>
One day, while discussing matters, they thought that it would be befitting if Baba’s Padukas got carved in rough Stone
and put under the Neem tree in commemoration of Baba’s first visit to Shirdi, when he sat under the Neem tree.<br><br>

They first thought of carving the Padukas on rough stone, but then Bhai Krishnaji Alibagkar suggested
that if this matter be made known to his employer, Dr. Ramarao Kothare,
he would prepare much nicer Padukas for this purpose.<br>
All liked the idea and accordingly informed Dr.Kothare,
who gladly came back to Shirdi from Mumbai, drew up a plan for the padukas
and showed it to Upasani Maharaj who was staying in the Khandoba Temple.<br>
Sri Upasani made some improvements adding a conch, lotus, and Mahavishnu wheel and
suggested that the Sanskrit Shlokas extolling the Neem tree’s greatness and Baba’s yogic powers,
be inscribed on the padukas’ pedestal.<br><br>



The Shloka (verse) which constitutes a part of the “Sri Sainatha Mahima Stotram”,
and is sung twice daily in Shirdi as part of the Madhyaya & Dhoop Aarti, is as follows:<br><br>

<strong>“Sada Nimbavrikshasya mooladhiwasaat,<br>
sudhastravinam tiktamapiapriyam tam,<br>
Tarum Kalpavrikshadhikam sadhayantam <br>
Namameeshwaram Sadgurum Sai Natham” <br>
</strong><br>
<p style="color:white;">
Meaning:<br>
I bow to Lord Sainath, Who by His constant stay at the foot of the Neem tree – <br>
which although bitter and unpleasant, <br>
was yet oozing nectar – made it better than the wish-fulfilling tree. <br>
I bow to Lord Sainath, who always takes delight in resting under the Neem tree
and bestowing material and spiritual prosperity upon his devotees who lovingly attend on him. <br><br>



The padukas were then made in Mumbai and sent to Shirdi.<br>
When they arrived, Baba said that they should be installed on the full moon day of Shravan, Shaka 1834 (1912 A.D).<br>
So in the morning of 15th August`1912, at 11 0′ clock G. K. Dixit brought the Padukas, carrying them on his head.<br>
From Khandoba temple, with musical instruments playing,
the procession came up to Dwarkamai where Sai Baba touched them
while saying that they were Allah’s padukas and to put them at the foot of the Neem tree.<br>
A small Temple was built under the Neem tree and Baba’s padukas were placed therein.<br><br>



Arati was already being performed every day in Sathe Wada and Dixit Wada,
and with the installation of these Padukas near the Neem Tree, at Gurusthan,
a third Arati was also started by Shri.G. K. Dixit.<br>
A Shiva-lingam was also installed in the Gurusthan the same year.<br><br>

A few months after their installation the Padukas were damaged by a lunatic
who also destroyed some of Shirdi’s temple Idols.<br>
The devotees were very distressed, believing it augured ill. Baba, however, took the matter casually
and told them simply to repair the crack with cement and undertake a feeding of the poor.<br>
Later, the broken padukas were replaced and the originals are said to be in the pedestal underneath.<br><br>

Many devotees started doing pradakshina around the Neem tree (and thereby the tomb) as they regard it
as a symbol of the Guru’s grace under which humanity may take shelter and protection.<br>
Indeed, Sai Baba once had said that his devotees are simply resting in the shade of the Neem tree,
while he bears the brunt of their Deeds.<br><br>

A small Dhuni on a stand is kept in front of the Neem Tree here.<br>
Earlier it was kindled every day by embers brought from the main Dhuni at the mosque,
but this is now done only on Thursdays & Fridays.<br>
Shri Sai Baba said that whoever burns incense
and cleans here on Thursdays and Fridays would be blessed by Allah.<br><br>
     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
