<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">
   <div class="container"><img src="{% static "images/satcharitra.jpg" %}" width="320px" height="300px" alt=""></div>
  <h1>This page contains about who wrote Sai Satcharitra, procedure to read Satcharitra, 51 chapters in Multiple Languages.</h1><hr>
<h3 style="font-family:verdana;"><em>Who wrote Saibaba Satcharitra</em></h3>
<img src="{% static "images/hemad.jpg" %}"  alt="">
<p style="color:white;">Hemadpant Dabholkar</p>
<hr>

<a href="https://www.omnisai.org/charitra" <button type="button" class="btn btn-success">
  CLick here to skip introduction and read Satcharitra in 18 languages</a> <br>
<br> <p style="color:white;">In 1910, when Hemadpant (also known as Late. Govindrao (Annasaheb) Raghunath Dabholkar) came to Shirdi, he observed a miracle by Sai Baba in which baba had prevented the raging cholera
   epidemic from entering Shirdi by grinding wheat on a grindstone and dispersing them around the borders of the Shirdi village.<br>

Witnessing this event is believed to have inspired Hemadpant to document the leela's of Sai Baba of Shirdi. Hemadpant soon sought the help of "Madhavrao Deshpande" alias Shama who advocated
 his cause before Sri Sai Baba himself. In 1916, Sai Baba gave his consent, stating,<br>
<b><i>
"You have my full consent to write my life history. Take notes and keep them. If my leelas are recorded, sins committed through ignorance will be dissolved. When my leelas are heard and/or read
 with love and devotion, the cares and troubles of worldly life will be forgotten."</i></b><br><br>

This event, mentioned in the second chapter of Sri Sai Satcharita, marked the beginning of the Sai Satcharita. Hemadpant wrote the Sai Satcharita at his residence called Sai Niwas in Bandra, Mumbai. Sai Niwas is more than 100 years old today and
 still carry forwards the tradition of Sai Bhakti (Sai Devotion) for numerous Sai devotees across the world. Shri Sai Satcharitra also mentions about Sai Niwas (Chapter 40
  : Attending Mrs.Deo's Udyapan Ceremony as a Sannyasi with two Others (Trio) and Hemadpant's House in the Form of His Picture) where this divine holy book was written.The Sai Satcharita
   consists of 9450 verses spread over 52 Chapters.<br>
   <img src="{% static "images/pothi-shirdi-sai-baba.jpg" %}" width="220px" height="200px" alt="">
   <br>Real pocha containing satcharitra . <br><br>
   Hemadpant is believed to have begun writing the Sri Sai Satcharita in 1922. He died after finishing the 51st Chapter in 1929. The desk on which Hemadpant wrote the manuscript of the Sai Satcharitra.<br>

<br><br>
<img src="{% static "images/hh.jpeg" %}" width="220px" height="200px" alt="">
<img src="{% static "images/saisat.jpg" %}" width="220px" height="200px" alt="">
<img src="{% static "images/hh3.gif" %}" width="220px" height="200px" alt="">
<img src="{% static "images/hh1.jpg" %}" width="220px" height="200px" alt="">
<img src="{% static "images/hh4.jpg" %}" width="220px" height="200px" alt="">
<img src="{% static "images/home-hemadpant.jpg" %}" width="220px" height="200px" alt=""><br><br>
 In Sai Niwas, in the corner of the prayer room just below the original photo of Sai Baba,
is the Desk which was used by Shri.Hemadpant while scripting 'Shree Sai Satcharitra'.
Also present in a glass topped box, are the Two Coins given to Hemadpant by Baba.Satcharita is well preserved and is placed in the same room in Sai Niwas on which he sat and wrote the Sai Satcharita.
Besides the desk, other memorable, such as Hemadpant’s turban, etc.<br>
<hr>
<h1 style="color:white;">How to read Shri Sai Satcharitra (Weekly Parayan Procedures)</h1><br>
<p style="color:white;">Reasons for Reading Sai Satcharitra : Devotee’s can do Sai Satcharitra parayan(reading) / Saptah Parayan (weekly reading) for any of the following reason. If the complete book is read in one weeks time it is said to fulfill the desire of the reader. These can be:
<br>1. Getting some wish or desire being fulfilled by Sai Maharaj.<br>
2. Treatment of ailment, health issue, progeny or related problem. <br>3. Seeking grace of Baba in removing the Problem or worries which are surrounding the bhakta.
<br> 4. For good education/knowledge/focus in studies / Sai Baba’s grace in studies - by student, for securing good result.
<br>5. For employment, interview and job.
<br> 6. Financial, material, emotional, family and relationship related issues.
<br>7. Out of love and devotion to Sadguru Sainath <br>8. For grace of Guru in attaining salvation, success in path of self-realization, spiritual upliftment.
<br> 9. To overcome pride, egoism, control over worldly objects and sensations.
<br>10. For betterment in life, peace and happiness. <br><br>
The above list is not exhaustive but only indicative. Parayan can fulfill any wish the devotee desires.…
But the fruit of Sai Satcharitra Parayan and its success purely depends on Baba’s Grace. He is capable of seeing the worth of devotee, his motive, his devotion, His faith and His past, present –future. Just mere reading of the holy book with intention of getting desired result may not be blessed by Baba. Not only this, sometime even after reading the result is not achieved, in this case devotees should not be disheartened. Baba is the ultimate doer and what He shall bless shall be the best for the devotee. To be precise, when the devotees start the Parayan / weekly Parayan they should completely surrender the result at the Holy feet of Baba and Baba shall bless each according to His Prarabdh or worthiness.

</p>
<hr><h4 style="color:white;">Parayan Procedure:</h4><hr>
<p style="color:white;">
Dear devotees there is no hard and fast rule in following these procedure. All Baba want is love and he did not believe in outward rituals. If the devotees have firm faith in Baba, parayan shall have its result.
<br>1. Devotees who wish to do weekly Parayan(Saptah) (complete the full book Sri Sai Satcharitra in 7 days) should start reading the book from Thursday .
<br>2. After taking bath, cleaning temple (home temple), lighting Diya (Villaku), Incense stick )(Agarbatti), applying Baba’s sacred Udi should start the reading of Sri Sai Satcharitra. (called as Saptah Parayan) with complete devotion and faith in Baba. (If the devotees do not have a puja room, say for example devotees living in hostels, they can sit in a neat place, where there is no disturbance, and start their parayan). Similarly if one is not keeping good health or by any reason cannot take bath or light Diya, taking Baba’s name they can still read the book. Hence there is no hard and fast rule to follow .
<br>3. Sai Satcharitra has total 52 chapters which can be divided into 7 chapters as per to 7 days and can be read by devotees as per to their convenience i.e. they can read all 7 chapter at one go or they can divide these 7 chapter into 3 chapter in the morning and 4 chapter in the evening. This purely depends on devotees how they wish to read these chapters in a day. The prefered method is mentioned below..
<br>4. The chapters are divided in the following manner for ease of reading and completing in time (as mentioned in Satcharitra).
Day 1 Ch 1-8 Day 2 Ch 9-16 Day 3 Ch 17-23 Day 4 Ch 24-31 Day 5 Ch 32-37 Day 6 Ch 38-45 Day 7 Ch 46-52
<br>5. Every day some Prasad or navadiya should be offered to Baba like any fruit, dry fruit, sugar candy, raisins etc as per to convenience of the devotee. There is no hard and fast rule again.
<br>6. By Wednesday evening Sai Satcharitra will complete.
<br>7. After the completion of Sai Satcharitra Prasad (offering) or Dakshina should be offered to Baba either in home temple or in Sai temple near to their home where they can go. If they cannot go than they can prepare anything at home or get readymade sweat dish and offer to Baba seeking his blessing for the parayan . Here again I would like to mention that it is not necessary if you cannot go or offer than, simple Pranam at Lotus feet of Baba shall also do, being in your own place. What ever the devotees eat can be offered as food, it can be veg or non veg food.
The last chapter (epilogue) in Sai Satcharitra which gives complete detail about result of Sai Satcharitra Parayan, I am attaching here. Devotee shall read this chapter in their Sai Satcharitra Book when they complete the book on the last day. I am giving this particular (last) chapter here so that readers can know the importance of Reading Sai Satcharitra and doing its parayan.
<br>8. Greatness of Sadguru Sai and reward of reading Sai Satcharitra <br>

We prostrate ourselves before and take refuge in that Sai Samarth Who besets all animate and inanimate things in the universe-from a post to God Brahma, pots, houses, mansions and even sky, Who pervades all creatures equally without any differentiation, to Whom all devotees are alike; and Who knows not honor and dishonors, like or dislike.
If we remember Him and surrender to Him, He fulfills all our desires and makes us attain the goal of life.<br>
This ocean of mundane existence is very hard to cross. Waves of infatuation beat high there against the bank of bad thoughts and break down trees of fortitude. The breeze of egoism blows forcibly and makes the ocean rough and agitated. Crocodiles in the form of anger and hatred move there fearlessly. Eddies in the form of the idea "I and Mine" and other doubts whirl there incessantly and innumerable fishes in the form of censure, hate and jealousy play there, Though this ocean is so fierce and terrible, Sad-guru Sai is its Agasti (Destroyer) and the devotees of Sai have not the least to fear of it. Our Sadguru is the boat, which will safety take us across this ocean.
Prayer <br>
Now we fall flat before Sai Baba and holding His Feet make the following prayer for the public:- Let not our mind wander and desire anything except Thee. Let this work (Satcharita) be in every house and let it be studied daily. Ward off the calamities of those who study it regularly.
Fala-Shruti (Reward of Study of Sai Satcharitra) <br>
Now a few words about the reward you get, from a study of this work. After bathing in the sacred Godavari and after taking the darshan of the Samadhi in the Samadhi-mandir in Shirdi,
you should read or hear the Satcharita. If you do this all your threefold afflictions will vanish.<br>
Casually thinking about the stories of Sai, you will get unconsciously interested in spiritual life and if you then go on through the work with love, all your sins will be destroyed. If you wish to get rid of the cycle of births and deaths, read Sai's stories and remember Him always; and get yourself attached (devoted) to His Feet.
If you dive into the sea of Sai's stories, and then give them out to others, you will get an ever-new flavor of them and save the hearers from perdition. If you go on meditating on Sai's Form, it will in course of time disappear and lead you into self-realization. It is very hard to know or realize the nature of Self or Brahma, but if you approach through the Sugun Brahma (Sai's Form) your progress will be easy.
If the devotee completely surrenders himself to Him, he will lose his individuality and be merged in Him and be one with Him, as the river in the sea. If you thus become merged with Him in any of the three states, viz., waking, dream and sleep, you get rid of the bond of samsara.
If anybody after bathing reads this with love and faith, and completes it within a week, his calamities will disappear; or if he hears or reads it daily and regularly all his dangers will be warded off. By its study, a man wishing for wealth will get it and a pure trader, success in his life. He will get the reward according to his faith and devotion. Without these, there will be no experience of any kind.
If you read this respectfully, Sai will be pleased, and removing you ignorance and poverty, He will give you knowledge, wealth and prosperity. With concentrated mind, if you read a Chapter daily, it will give you unbounded happiness. One, who has his welfare at heart, should study it carefully and then he will ever remember Sai gratefully and joyfully in birth after birth.
This work should be read at home especially on Guru-Purnima (Ashadha full-moon day), Gokul-Ashtami, Rama-Navami and Dasara (Baba's anniversary day). If you study this one book carefully, all your desires will be satisfied and if you always remember Sai's Feet in your heart, you will easily cross the Bhava (Samsara) sagar. By its study, the diseased and sick will get health, the poor wealth, the mean and afflicted prosperity, and the mind will get rid of all ideas and get steadiness.
Dear good and devoted readers and listeners, we also make our bow to you all, and make you a special request. Never forget Him whose stories you have read day by day or month by month. The more fervently you read or listen to these stories, the more encouragement Sai gives us to serve you and be of use to you. Both the author and the readers must co-operate in this work, help each other and be happy.
9. Prasad-Yachana (Offering of Prasad)
We close the with prayer to the Almighty for the following Prasad of favour:- May the readers and devotees get complete and whole-hearted devotion to Sai's Feet. May His Form be ever fixed in their eyes and may they see Sai (the Lord) in all beings. Amen!
When the parayan is complete family members can join together and do Baba’s Aarti and than Prasad offered to Sainath can be distributed to the family members ."
Bow to Shri Sai - Peace be to all

<em><strong>#SaiBaba #SaiSatcharitra #Parayan #SaiRevolution</strong></em></p>
<div class="card text-center">
  <div class="card-header">
    Start here
  </div>
  <div class="card-body">
    <h5 class="card-title">Click link to view 51 chapters</h5>
    <p class="card-text">Satcharitra 51 chapters in different languages.</p>
    <a href="https://www.saishiridi.com/satcharitra-in-Telugu" class="btn btn-primary">Telugu</a>
    <a href="https://www.saishiridi.com/satcharitra-in-kannada" class="btn btn-primary">Kannada</a>
    <a href="https://www.saishiridi.com/sachritra-in-english" class="btn btn-primary">English</a>
    <a href="https://www.saishiridi.com/satcharitra-in-bengali/" class="btn btn-primary">Bengali</a>
    <a href="https://www.saishiridi.com/satcharitra-in-Marathi" class="btn btn-primary">Marathi</a>
    <a href="https://www.saishiridi.com/satcharitra-in-Tamil" class="btn btn-primary">Tamil</a>
  </div>
  <div class="card-footer text-muted">
    May baba bless you!!!
  </div>
</div>

/div>
{%endblock%}
