
<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}">
{% endblock %}
{% block body_block %}



<a href="https://www.omnisai.org/photos">Click me to get photos </a>
<br><br>
<a class="youtube" href="https://www.youtube.com/c/SaiYugNetwork" target="_blank" title="youtube">
youtube
</a>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

{%endblock%}
