<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">How to plan Shiridi trip?</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/shiridi.jpg" %}" alt="baba" width="400" height="260"> <br>shiridi<br><hr>
 <p style="color:white;">
   Before heading to shiridi things to know: <br> <hr>  <p style="color:white;">
   1. Visit baba samadhi mandhir <br>
   2. Attend arthi by prebooking or at the counter(It is always adviced to prebook arthi due to limited bookings) <br>
   3. Visit Dwarakamai(Mosque where baba lived for his entire life) <br>
   4. Visit Nandhadeep (opposite to dattatreyamandir) <br>
   5. Visit Kandobha mandir (where baba first named by mahalsapathi) <br>
   6. Visit chavadi <br>
   7. Visit Hanuman Mandir <br>
   8. Visit baba devotees houses like mahalsapathi(here you can see baba belongings), shyama house and shayma school(exact
   opposite to dwarakamai its an old school), laxmibhai house(where you can see 9 coins offered by baba to her on last day
   before samadhi) <br>
   9. Old shiridi village (This is a village setup created by a devotee, it shows the old village styled shiridi) <br> <br><br>

<br>Online Darshan Booking <br>
The Shri Sai Baba Sansthan, Shirdi Trust has introduced an Online Darsdhan Booking  for Sai devotees which are providing them an option of not standing in a queue for several hours to have darshan of Siababa Samadhi Mandir to pay their respect.
<br>
Those who register online will not have to stand in the darshan queue for more than an hour. They will be told the approximate time when they can pay their respect and will be able to finish their visit within an hour of the time mentioned.
<br>
For more information and Online Booking, go to this link
<a href="https://www.sai.org.in/en/accomodations">
https://online.sai.org.in.</a>  <br>Devotees need to be first register themselves in the Website and create an Account, after that they can select the Online services like Darshan, Accommodations, Donation, etc and make their payments online. Shirdi online darshan booking  :- https://online.sai.org.in

<br>
Wheelchair available for free in Gate no - 5
<br>
Free Darshan pass for Sai Devotees at Shirdi
<br>

·         Shirdi Sai Sansthan are issuing free pass to Sai Devotees visting Shirdi to have darshan of Shirdi Sai
<br>
·         No on line booking is required now
<br>
·         Visit PRO office just opposite to Gate No 1 Give your thumb biometric identiy to get the pass
<br>
·         You can also get paid pass from the counter
<br>
·         Rs 200 per person
<br>
·         Carry your identity card and in one identity card they issue 10 pass
<br>
·         No need for online booking
<br>
·         Senior citizen have separate counter and separate ques . Senior Citizen are issued free pass
<br>
·         Above facility is available from 6 AM to 22 hrs
<br>
·         Free Darshan  Pass For Sai Devotees at Shirdi <br><br>
   <strong>Shiridi Map</strong> <br>
  <img src="{% static "images/map.jpg" %}" alt="baba" width="800" height="660"> <br><br><hr>
     </p> <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
