<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col"> Stavanamanjari </h1><hr>
     <p style="color:white;">
        <img src="{% static "images/arthi1.jpg" %}" alt="baba" width=100%>
         <br><hr>
 <p style="color:white;">
   <h4>A brief about stavanamanjari </h4> <br>
   <img src="{% static "images/dasa.jpg" %}" alt="baba" width=100%>
<br><p style="color:white;"> <br>
   || Aum Sai Ram || Aum Sai Para Brahmanaa Namah || <br> <br>

History of Shri Sai Nath Stavan Manjari and its author Shri Das Ganu Maharaj

Das Ganu Maharaj is the spark behind Sai movement in Maharashtra. He travelled to every small towns and villages in Maharashtra singing kirtans about saints Tukaram, Gnanadev keeping a portrait painting of our Shirdi Sai Baba. Whenever the listener asks about the saint in the portrait, Das Ganu will tell them about the greatness of our Sainath and request them to go to Shirdi and have darshan of Shirdi Sai Baba.

Much of the literature we get to read today had been written in times of Sai Baba with His permission and thus we have received first hand treasure of literature and hymns from Sai Baba Himself. Such treasure is very much powerful, reciting and reading it will bring one closer to Sai Baba. At Sai Baba’s divine order, we have such literature available. To make full use of it with great love and devotion is the only thing demanded from us.

It was said that Das Ganu Maharaj wrote a book named ‘Stavan Manjari’ just before 36 days of Baba’s Maha Samadhi. In that he mentioned that, whoever does Parayan of this book daily with Shradha and Bhakti, all their wishes will be fulfilled by Shirdi Sai Baba.

After he completed writing the ‘Stavan Manjari’,  he read that before Baba in which he wrote in phalasruthi (results that come after reading the Stavan Manjari) whoever read this Stavan Manjari all their problems will be solved, poor people will become rich, and those who are looking for children will be blessed with children and many more.

On hearing this Baba himself agreed by nodding his head and saying, “Yes they will be blessed with those results.” The very good thing in this Stavan Manjari is – there are no rules for reading this book. Anybody can read this at any time – either in day time or night time but with full Shradha and Bhakti.
<br><br>
|| Aum Sai Sharnam || May Peace Be To All
<br>
శ్రీ సాయి నాథాయ నమః <br>
<br><br>

సాయినాథ స్తవనమజ్ఞరి <br>

శ్రీ గణేశుడు పార్వతి చిరుత బుడత <br>
భవుని భవరాన నెదిరిన పందెగాడు <br>
గజముఖంబున తొలిపూజ గలుగువేల్పు <br>
ఫాలచంద్రుడు నన్ను కాపాడుగాక ! <br><br>

వాణి శుకవాణి గీర్వాణి వాగ్విలాసి <br>
శబ్ద సృష్టికి స్వామిని, శారదాంబ <br>
రచయితల వాజ్ఞ్మదురిమను రాణవెట్టు <br>
యజునిరాణి పూబోణి దయాంబురాశి <br>
మంచి వాక్కిచ్చి నన్ను దీవించుగాక ! <br><br>

సగుణరూపి - పండరిరాయా - సంతు - నరహరీ <br>
కృపార్ణవా - రంగా - నిరీక్ష సేయ <br>
దగునటయ్య - నన్ భవదీయదాసునిగని <br>
శ్రీ లముంచ జాగేల చేసెదవు, కృష్ణ ! <br>
హే కపాల మాలాభరణా ! కపర్దీ <br>
హే దిగంబరా కృపానిధీ ! జటాధ <br>
రా ! మహేశా ! పాశుపతే ! పురాసురారి ! <br>
శివ, శుభంకరా, శంకరా, శ్రీకరా, హరా ! <br>
విరాగి దయాళో పరాకుసేయ <br>
నేల 'నోం' కార రూప నన్నేలుకొనగ. <br><br>

వినయముగ మీకు పాద వందనము సల్పి <br>
చేయనున్నాడ స్తోత్రంబు చిస్త్వరూప <br>
తరచు మీ నామస్మరణంబు గరపు, నాదు <br>
కోర్కె లీడేరకుండునా గురువరేణ్య <br>
<br>
జయము దిగ్విజయము జయ సాయినాథ <br>
పతిత పావన భావ కృపావతంస <br>
త్వత్పదంబుల శిరమిడి ప్రణుతిసేతు <br>
నభయమిడి బ్రోవరావమ్ము అత్రితనయ <br><br>

తపసి బ్రహ్మమీవు పురుషోత్తముడ వీవు <br>
విష్ణువీవు జగద్య్వాపి వీవు – పరమ <br>
పావనియుమ యెవరి భార్య యౌనొ <br>
యట్టి కామారి నీవ కృపాంబురాశి <br><br>

నరశరీరముదాల్చు నీశ్వరుడ వీవు <br>
జ్ఞాన నభమున వెలుగు దినకరుడ వీవు <br>
దయకు సాగరమీవు భవబంధముల జిక్కి <br>
జ్వరపడు కృశించు రోగికౌషధివి నీవు <br><br>

భయములో గల వారి కాశ్రయము నీవు <br>
కలుషితాత్ముల పాలిటి గంగవీవు <br>
దుఃఖసాగరమీదగ దొప్పవీవు <br>
దళిత జనపాళి పాలి చింతామణీవు <br><br>

విశ్వవిశ్వంభరాన నావిర్భవించు <br>
విమల చైతన్య మీవ - యీ విధివిలాస <br>
జగతి నీదు లీలావిలాసమ్మె సుమ్ము <br>
సాధుజన పోష ! మృదుభాష ! సాయినాథ ! <br><br>

చావు పుట్టుకల్ రెండు నజ్ఞాన భావ <br>
జనితములుగాన - యట్టి యజ్ఞాన తిమిర <br>
మార కారుణోదయ ప్రభాసార ! నీకు <br>
జననమే లేదు ! కావున చావు రాదు <br>
దేహమున బ్రహ్మచైతన్యదీప్తిగలుగ <br><br>

కలిగె దానికి వింతైన గౌరవంబు <br>
నీటికతమున నది కబ్బుమేటి విలువ <br>
పగిది - పరికించి చూడ పాడుబడిన <br>
దేవళముగాదె నిర్జీవ దేహమకట ! <br><br>

జ్ఞానియెన్నడు దేహాభిమానికాడు <br>
దేహముండిన మండిన దివ్యశుద్ధ <br>
సత్వచైతన్య బ్రహ్మంబె శాశ్వతమ్ము <br>
దారిలేకయె ప్రవహించు నీరమట్లు. <br><br>

చావుపుట్టుకల్ సహజమ్ము జంతుతతికి <br>
పుట్టు ప్రతి ప్రాణికొకపేరు పెట్టు కతన <br>
నీవునేనను భావంబు నిండెగాని br
యుండెనా చిత్ జగంబులు రెండుగాను? <br><br>

నీరదమ్ము ధరించెడి నీరమట్లు <br>
జగతినిండిన చైతన్యశక్తి యెకటె <br>
మాది మీదను తారతమ్యంబు లేక <br>
నిల్చుశాశ్వతమ్ముగ గణనీయమగుచు <br><br>

నీరు భూమికిజారి గోదారి పడగ <br>
పావనంబంచు నద్ది ప్రఖ్యాతిగాంచె <br>
వాగువంకన - చిరు సరోవరము పడుచు <br>
విలువ గోల్పోవకుండునే ! మలినమగుచు <br>
<br>
మీరు గోదావరి పడిన నీరువంటి <br>
వారు - మేమో ! తటాకాది తీరభూము <br>
లందుపడి - చెడి మలినమైనట్టి వార <br>
మగుట - మీకు మాకంతటి యంతరమ్ము. <br><br>

పాత్రతను బట్టి యర్హతబడసినట్లు <br>
గౌతమికి గల్గెనంతటి గౌరవమ్ము <br>
దివ్యచైతన్య మన్నింట నిండియున్న <br>
మీతనుగత మౌచు పునీతమయ్యె. <br><br>

ఆదినుండియు గోదారి ఆగకుండ <br>
పారుచున్నది నేటికి తీరమొరసి <br>
కాని రావణారిపద సుఖానుభూతి <br>
బడసిన పవిత్రజలము గన్పడునె నేడు ? <br><br>

నీరు వాలువ ప్రవహించి చేరు జలధి <br>
కాని - దాని కుపాధేయమైన భూమి <br>
మాత్రము నిజస్థితిని నిల్చి మార్పుచెంద <br>
నట్లు - మీ యునికి నిలుచు నహరహమ్ము <br><br>

శాశ్వతంబగు బ్రహ్మంబె సాగరంబు <br>
దానిగలిసిన నీరె చైతన్య శక్తి <br>
మీరుపాధేయమైన గోదారివంటి <br>
వారు - మీనుండి వెడలు కాల్వలము మేము
<br><br>
ఎన్నడైన మాలో ప్రవహించుశక్తి <br>
చేరునాస్వామి సాగర తీరమునకు ? <br>
యీ పరీక్ష కృతార్థులనెట్లు సేతు <br>
వయ్య - త్వత్పాదాశ్రితులమైన మమ్ము <br>
<br>
పాతనీరుపోయి ప్రతివత్సరమ్మున <br>
క్రొత్తనీరు నదికి కూడునట్లు <br>
పుట్టుచుంద్రు ఋషులు పుణ్యపురుషులును <br>
ప్రతి దశాబ్దమందు – ప్రగతికోరి <br><br>

అట్టిసంతు ప్రవాహమందాది పుట్టి <br>
భావికాథ్యాత్మ సౌగంధ్య తావినూది <br>
నడచినారలు సనకసనందనాది <br>
బ్రహ్మమానసాత్మజులు పురాణనిధులు
<br><br>
ఉపరి నారద తుంబర, కపిల, శబరి <br>
వాయునందనాంగద, ధృవ, బలినృపాల, <br>
విదుర, ప్రహ్లాదగోప గోపికలు పుట్టి <br>
రవని - కాల మహాప్రవాహమ్మునందు.<br><br>

ఇన్ని శతాబ్దములు సాగుచున్న సృష్టి <br>
వట్టి పోయెను ! సాధుసంపత్తి లేక <br>
ధర్మ సంస్థాపనార్దమై ధరణి నుద్భ <br>
వించదె - దశాబ్ధికొక్క వివేకజ్యోతి. <br><br>

ఈ మహా గౌతమున్ బోలె నీదశాబ్ద <br>
మందు సంతురూపున పుట్టిరందు మిమ్ము <br>
దాసగణు మానసాబ్ధిచంద్రా ! అశేష <br>
దీన జనతాకృమిత భవ్యదివ్యచరణ. <br><br>

ఒక మునక వేసినంతట సకల పాప <br>
ముల హరించు గౌతమివలె – కలుషితాత్ము
<br>ల సమయింపదె మీదృష్టి ప్రసరణంబు <br>
ఆర్తి జనతాశరణ్య సంయమివరేణ్య <br>
<br>
ఇనుములోని దోష మిసుమంతయేనియు <br>
స్పర్శవేది లెక్క సలుపనట్లు <br>
దోషరోష వేషు దుర్గుణ జడునన్ను <br>
విడువకుండుమయ్య విశ్వచక్షు <br>
<br>
గ్రామమందుపారు కాల్వను గౌతమి <br>
విడుచునొక్క నీరు విడువకుండ ? <br>
జ్ఞానహీన వట్టి చంచల మతినైన <br>
నన్ను విడుతువె దేవ – అనాధనాధ <br><br>

పరుసవేది తగిలి పరిణితి చెందని <br>
లోహమున్న దాని లోపమెల్ల <br>
స్పర్శవేది తానె భరియించినట్లుగా <br>
నాదుదోషమెల్ల మీదెగాదె <br><br>

నన్ను పాపిగనుంచి యీనా – రుజమ్ము
<br>పైనవేసికోవలదయ్య స్వామి లోహ <br>
తత్వమైన కాఠిన్యమునుతాకి చెడెను <br>
పరుసు వేదను దుష్కీర్తి బడయవలదు <br><br>

తప్పు సేయుచుంట తప్పదు బిడ్డకు <br>
దానిసైచికాచు తల్లి యెపుడు <br>
కలుషితాత్ముల మమ్ము కనుసైగకావగ <br>
తప్పదయ్య నీకు దాసపోష. <br><br>

ఓ సనాతనా ! మీరు ముందుద్భవించి <br>
నట్టి ఓంకారమవు నందునణగిన శబ్ద <br>
సంపదవు తత్ర్పవాహముసాగు ప్రాణ <br>
శక్తివీ సువిశాల విశ్వమునకంత <br>
జీవనాధారుడీవ కృపావతంస. <br><br>

వేదమీవు స్ర్మతుల కనువాదమీవు <br>
జ్ఞాన నభమున వెలుగు దినకరుడవీవు <br>
సురభివీవు, నందన వనతరువువీవు <br>
వేడినంతట రక్షించు వాడవీవు <br><br>

సకల సద్గుణ ఘనివని - సాధుజన హృ <br>
దాంతరావృత "సోహంబ" వనియు – స్వామి <br>
స్వర్గ సోపానముల నెక్క సాహసించి <br>
నాఢ - చేయూతనిమ్ము వినమ్రమూర్తి <br>
<br>
పరమపావనా ! చిత్స్వరూపా ! పరంత <br>
పా ! కృపాంబురాసీ ! భేదవర్జితా ! దయాళో ! <br>
జ్ఞానసింధో ! నరోత్తమా ! దీనజన ని <br>
వాస ధామమా ! నన్ను కాపాడరమ్ము <br><br>

నివృత్తి నాధుడివీవు, జ్ఞానేశ్వరుడవు <br>
పరమసద్గుణ గురు జలంధరుడవీవు <br>
ఏకనాధుడవీవు, మచ్ఛీంద్రుడీవు <br>
పీరు మహమ్మదువీవు – కబీరువీవు <br><br>

బోధకుడవీవు తత్వ సుబోధకుడవు <br>
రామ తుకరామ సఖరామ రామదాస <br>
సావంతులలోన నెవరివో సాయినాథ <br>
యెరుగకున్నాడ నిన్ను సహేతుకముగ <br><br>

యవనుడని కొందరు మరి బ్రాహ్మణుడటంచు <br>
కొందరు నిను కీర్తించుట విందుగాని <br>
నీ నిజస్ధితి నెరుగు మనీషిగలడె <br>
అదెగదా యదూద్వహుని వింతైన లీల <br><br>

సుతుడు సుకుమారుడంచు యశోదబల్కె <br>
కాలుడనిబల్కె కంస నృపాలకుండు <br>
దయకు మారుగబల్కె యద్దవుడు కూర్మి <br>
ప్రాజ్ఞుగాబల్కె మధ్యమ పాండవుండు <br><br>

ఇట్టి వైవిధ్య భావములెన్నో కలుగు <br>
వారి, వారి, మనోగత భావగరిమ <br>
కనుకనే - మిమ్ము రూపురేఖలనుబట్టి
<br>పోల్చుదురు భిన్నమతముల ప్రోగువనుచు <br>
<br>

ఫాతిహా పలికి మశీదు పంచనుండి <br>
తురకవంచును యవనుల కెరుకపడవె <br>
వేదవిజ్ఞాన విషయ వివేకివగుట <br>
హిందువై యుందువంచు నూహించుకొంటి <br><br>

బాహ్యమైనట్టి మావిధి వ్యాపకమ్ము <br>
తగవులాటలు గూర్చదె తార్కికులకు <br>
దానినెన్నడు గొనరు ప్రధానమంచు <br>
జ్ఞానులైనట్టి భావ జిజ్ఞాసులెపుడు <br><br>

జగతికావ్య కారణమైన సాంద్రకీర్తి <br>
జాతి గోత్రములేని ప్రశాంతమూర్తి <br>
హిందు, యవనుల భేద రాహిత్యమునకు <br>
పట్టినావగ్ని - మసీదున మెట్టినావు <br><br>

తార్కికులకందనట్టి మీ తత్వమరసి <br>
పలుకుటెట్టులో నాశబ్ద పరిధిమించి <br>
కాని మౌనము బూనగా లేనుగాన <br>
పలుకనుంటిని నాపద పరిచయమున <br><br>

మీ మహాత్ముల యోగ్యత నేమనందు <br>
దేవతలకన్న మిన్నకాదే కృపాళొ <br>
మంచిచెడ్డల తారతమ్యంబులేదు <br>
నాది నీదను భావమేనాడురాదు <br><br>

రావణాది దానవ కులాగ్రణులు దైవ <br>
నింద చేసి - కులక్షయ మంధినారు <br>
కాని - వినరాని యేగుణహీనుడైన <br>
మీ మహాత్ములజేరి – ప్రేమింపబడడె <br><br>

గోపిచందుడు పూడ్చడె గుట్టక్రింద <br>
గురు జలంధరుబట్టి నిగూఢవృత్తి <br>
అయిన నేదోష మాతని నంటకుండ <br>
దీవనలొసంగడే చిరంజీవి యనుచు <br><br>

శిష్టుడైనను దోష భూయిష్టుడైన <br>
నతని సమదృష్టిజూచు మహాత్ముడెపుడు <br>
కాని - పాపులయడబూను కరుణమెండు <br>
వారి యజ్ఞానమను ముందు బాపుకతన <br>
<br>
ఆ ప్రభాకరుడొక్క మహాత్ముడ – ప్ర <br>
కాశమే వారి పరిపూర్ణకరుణ- ఆ,-శ <br>
శాంకుడొక సంతు - సుఖదాయి యైనవాని <br>
కృపయె పూర్ణిమరేయి వర్షించు జోత్న్స <br><br>

ఉజ్వలంబైన కస్తూరియెక్క సంతు <br>
ఆ పరిమళ మద్దాని అవాజ్య కరుణ <br>
రసము ఛిప్పిల్లు చెరకొక రాగరహితు <br>
డమ్మహాతుని కృపయె తియ్యనిరసంబు <br><br>

మురికిబట్టలుదుక బోదురు తరచుగా <br>
గంగ చెంత మైల కఢిగివేయ <br>
పెట్టెనుండు బట్ట పెక్కుసార్లుదుకగా <br>
నిచ్చగింతురొక్కొ రెవ్వరేని <br><br>

నీవె గౌతమి - ఆ మెట్లె నిష్ఠ – మలిన <br>
మైన వస్త్ర్ర్రమే జీవాత్మ - ఆ వికుంఠ <br>
మౌరపేటిక – అరిషడ్వికారమనగ <br>
మురికి - అది వదిలినజీవి పొందుమిమ్ము. <br><br>

నీడనిచ్చు తరువు నీవుగానుండిన <br>
సంచరించు బాటసారి నేను <br>
తాళలేని తప్త తాపత్రయమ్మున <br>
నిన్నె చేరువాడ నీడకొరకు <br><br>

తపన తీరకుండ దరిచజేరు జీవుని <br>
నీడయనెడిదయతో నింపుమయ్య <br>
చెట్టునీడ గూడ సేద తీర్చకయున్న <br>
వృక్షమంచు దాని బిలుతురెవరు <br><br>

ధర్మరక్షకు భువిపైన తారసిల్లె <br>
పార్ద సారధి మిషన గోపాలకుండు <br>
రావణానుజు బ్రోవగ రామవిభుడు <br>
కోతిరాజుకు గూడ చేయూతనిచ్చె <br><br>

వేదములుగూడ వర్ణింప వీలుబడని <br>
నిర్గుణంబైన బ్రహ్మననేక విధుల <br>
సగుణబ్రహ్మగ భువిని సాక్షాత్కరింప <br>
చేయగలదొక్క మహితాత్ము చిత్తవృత్తె <br><br>

క్షీరసాగరమందు లక్షీసమేతు <br>
డై నిరంతర సుఖనిద్రబూను హరికి <br>
అదిపుడాఢ్యుడు నిర్నిద్రుడన్న పేరు <br>
కలిగె - సంతుల సమదృష్టి కతనగాదె <br><br>

ఆ మహాత్ముల యోగ్యతనెవరు – యేచి <br>
తూచగలరు - శ్రీహరిచేత తోళ్ళుమోయ <br>
జేసె - చోఖబా ! మొహరుగా, చేసె ధాము <br>
డెట్లాడమనిన నాడె సర్వేశుడకట <br><br>

నీరుమోసె సక్కుకు రుక్మిణీ విభుడు – సు <br>
ధాము ప్రేమతోడాసి - పాదములు గడిగె <br>
గోముగా బిల్చి సరిచేసె కుబ్జగూని <br>
ఆపదని - విని - అక్రూరు నంటినడచె <br><br>

పామరుడ నేను యేభాష పల్కగలను <br>
నీవె తల్లివి తండ్రివి నీవెగాదె ? <br>
సంతులకు సంతు - రక్షింపవంతు నీదె <br>
సద్గురూత్తమ శిరిడీశ సాయినాథ <br><br>

సాగరంబున వటపత్రశాయివోలె <br>
మూరపై పావుచెక్కన చేరి – పవ్వ <br>
ళించి, యోగశక్తిని నిరూపించినావు <br>
నీట దీపాల వెల్గుల నింపినావు <br><br>

ఊది మందుగ వ్యాధుల బాధబాపి <br>
చూపుతోడుత గొడ్రాలి చూలునింపి <br>
ఐహికంబను జలధికి అడ్డుకట్టి <br>
ముక్తి తలుపులు తెరుచు చిన్మూర్తివీవు
<br><br>
గురువరా ! భవదీయమగు కృప లేశ <br>
మైన నాపై ప్రసరింపదేని – నాదు <br>
జీవితము వృధ - నీ పాద సేవచేసి <br>
కాలము వెలార్చు భాగ్యమ్ము కలుగనిము
<br><br>
సూక్ష్మమగు చీమ భారమా ! స్థూలకరికి <br>
నన్ను విడువకుమయ్య దీనజనబంధు <br>
నిన్నె నమ్మితినయ్య మునీంద్ర వంద్య <br>
సన్నుతించెద నిన్ను గోసాయివేష <br><br>

శ్రీ సమర్ధ సద్గురు సాయి సేవసేయ <br>
శాస్త్ర్ర మిసుమంతమేనియు చదువలేని <br>
నాకు, మీదు చిద్రూపు – మానసమునిల్పి <br>
ధ్యాన మొనరించు భాగ్యమ్మునబ్బనిమ్ము <br><br>

అన్నిటన్ నిండు ఆత్మ మీ అంశమగుట <br>
అర్దమేలేని శబ్ద సహాయమంది <br>
అనుభవములేని తత్వమ్మునరసి – మీదు <br>
యునికి యిదియదియని చెప్పనోపనయ్య <br><br>

వ్యావహారిక పూజ నేనాచరింప <br>
నర్హతేలేని నాకు – ప్రేమాశ్రువులతో <br>
పాదములు తడుపునటుల భక్తియనెడి <br>
చందనమందునటు లాజ్ఞ సల్పుమయ్య <br><br>

జలధి - దప్పికతీర్చ నే జలముదెత్తు <br>
అగ్ని - చలిగాచుకొనుట కేయగ్ని దెత్తు <br>
పూజసేయగ నేవస్తులను దెత్తు <br>
దత్త తత్వమన్నింట తా , దాగియుండ <br><br>

కాన పద సోయగంబను కఫ్ని గూర్చి <br>
మానసిక ప్రేమ భావ పూమాల వేసి <br>
కుచ్ఛితంబను బుద్ధికి కుంపబెట్టి <br>
ధూపముగ వ్రేల్చి నర్చింతు తోయజాక్ష <br><br>

అగ్ని పడియెడు దుర్గంధ పంకిలంబు <br>
రూప రసగంధ వాసన రుచిని విడిచి <br>
నిర్మలంబైన సద్గురు నీడచేరి <br>
ఆత్మ సౌగంధ్య శక్తిగా నావరించు. <br><br>

నన్ను గూడిన చెడు లక్షణములు నేడు <br>
పూర్ణముగ మాడి - మీ పరిపూర్ణ కరుణ <br>
నక్షయంబుగ నుత్పన్న మయ్యె మంచి – <br>
మురికి గంగ తిరిగి శుభ్రమొందినట్లు <br>
<br>
భద్రమగు నాసనము సమర్పణము జేసి <br>
యిష్టమగు దాని నైవేద్య మిచ్చినాడ <br>
స్వీకరింపుడు భక్తి నివేదనమును <br>
స్తన్యముగ నిండు - ఫలితము తల్లివగుచు
<br><br>
అండపిండ బ్రహ్మాండ మావరించి <br>
నాడవనుమాట - నిజము - ధీనజనబంధు !<br>
అందు లవలేశమైన, నా అంతరాత్మ <br>
నిన్ను గను జ్ఞానచక్షువు నీయగదవె <br>
<br>
కస్తూరితో నుండు మృత్తిక కంపురీతి <br>
పూల జతగూడు దారమ్ము వోలె – మీమ <br>
హాత్ముల పరిచర్య కతన – నలరుగాత <br>
క్రొత్తవెలుగు నాజీవిత కుహరమందు <br>
<br>
సీ|| ఈ నీలికండ్లలో ఏజ్యోతి వెల్గెనో <br>
అజ్ఞాన తిమిరాళి అంతరించె <br>
ఈ లోతుగుండెలో ఏ ప్రేమ నిండెనో <br>
ప్రీతిభావము జగతి పెంచుకొనియె <br>
ఈ వరాలకరాల ఏ శక్తి దాగెనో <br>
అభయమై జీవనం బతిశయిల్లె <br>
ఈ పాదయుగళియందేహాయి యిమిడినో <br>
సుస్థిరంబగు శాంతి విస్తరిల్లె <br>
ఔర ! నీచూపు నీహృదయాంతరమున <br>
ప్రాపు - నీదు చేతిచలువ – పాదరజము
<br>విలువ - అనుభవైక్యమెగాని – వేరుకాదు <br>
సద్గురూత్తమ శిరిడీశ – సాయినాథ <br><br>

సీ|| నీ యందు పొడగంటి నిత్యమంగళరూప <br>
సిద్ధ గంధర్వ సంసేవ్య పదము <br>
నీ రూపుగా నెంతు నీరధిగంభీర <br>
మూర్తిత్రయమ్మును మోదమలర <br>
నీవుగా నెంచెద నిఖిలాత్మ సంభూత <br>
కార్యకారణ కర్మగతులనెల్ల <br><br>

నీవుగా తలచెద భావంబునందున <br>
భువన భాండంబుల పుణ్యపురుష <br>
ద్వాదశాదిత్య దిక్పాలకాది సురల <br>
మునుల - నిధుల - కులాచల, జనపదమ్ము <br>
లెల్ల - నీలోన కనుగొంటి నీప్సితార్ధ <br>
ఫలసుఖంబుల నందితి – పద్మనయన <br>
నద్గురూత్తమ శిరిడీశ సాయినాథ <br><br>

సీ|| ప్రామినికులు నిన్ను భాషింపనగుగాక <br>
కడదాగ నీమూర్తి కాంచగలవె <br>
పంచ భూతములు నీపంచ గాచెడిగాక <br>
ఎఱుగునే నీగుణం బించుకంత <br>
సూర్యచంద్రులు నీదు చూపులే యౌగాక <br>
నీ తేజ మహిమంబు నేర్వగలరె <br>
సాగరంబులు నీదు శయ్యలే యౌగాక <br>
నీయంతరమును గణింపగలవె <br><br>

పుట్టియున్నను నీకుక్షి భువనమెల్ల
<br>తెలియునే నీస్వరూపము తెలిసి పలుక <br>
ఈ చరాచర సృష్ఠి కగోచరుడవు <br>
సద్గురూత్తమ శిరిడీశ - సాయినాథ <br><br>

సీ|| పాదోది కర్ఘ్యపాద్యాదు లిడినట్లు <br>
ఇనునకు దీప మందించినట్లు <br>
మలయా చలమ్ముకు మలయజంబిడినట్లు <br>
హేమాద్రికిన్ భూషలిచ్చినట్లు <br><br>

కుసు మేఘ సఖునకు కుసుమంబు లిడినట్లు <br>
పునుగుకు గంధమ్ము పులిమినట్లు <br>
అమరాధి నాధున కాసనంబిడినట్లు <br>
విధునకు సుధనిచ్చి వేసినట్లు <br><br>


విశ్వనాధుని నిన్ను రావించి సేవ <br>
లందు మనుటెల్ల - మా హృదయాబ్జపీఠి <br>
తలచినంతనే నిలచి మమ్ములరించుమయ్య <br>
సద్గురూత్తమ శిరిడీశ సాయినాథ <br><br>

దీనినెవరు పఠింతురో దీక్షబూని <br>
వత్సరములోన వారికి వరలు శుభము <br>
త్రివిధ తాపములెల్లను తీరిపోయి <br>
తీరకుండెడి కోర్కి సిద్ధించుగాత ! <br>
<br>
నిత్యమెవ్వరు దీనిని నిష్టతోడ <br>
మనన మొనరింత్రో వారల మనసులోన <br>
మసలుచుండును సాయి ప్రేమానురక్తి <br>
మంచి పాలన వెన్న భాసించినట్లు <br><br>

దినమున కొకమారు చదువను తీరకున్న <br>
గురుని వారము నందైన కూర్మితోడ <br>
చదవగలవారియింట సంపదరహించు <br>
ఇహపరంబుల యందున సహకరించు <br><br>

ఇదియు సాధ్యంబుగాకున్న వుదయమందు <br>
దశమి మరునాడు చదివిన ధనము, బలము <br>
యశము ప్రాప్తించు తాప ముపశమనమగును <br>
నింద తొలగు నిర్భయముగ నిశ్చయముగ <br><br>

నియమమున మండలము దీని నిష్ఠతోడ <br>
వినిన చదివిన, చదివిన వినినగాని <br>
సాయినాధుడు మీకు సాక్షాత్కరించి <br>
కొంగు బంగారమై జతగూడి నడచు <br><br>

శాలివాహను పేరిట శకమునందు <br>
పదుయునెనిమిది నలుబది వత్సరమున <br>
భాద్రపద శుద్ధచవితి పర్వదినాన <br>
సోమవారమునందు నీస్తోత్ర రచన <br><br>

ఆ మహేశ్వరక్షేత్ర భాగాంతరమున <br>
పూరణంబయ్యె నర్మద తీరమందు <br>
శ్రీ సమర్ధగురు కృపా విశేషగరిమ <br>
<br>
తెలుగు సేత పది పైన తొమ్మిదొందల ఎనుబది <br>
రెండు సిద్ధి విఘ్నేశ్వరు పండుగ దిన <br>
మున పరిసమాప్తిచెంద నేమూల పురుషు <br>
డీ రచనకు కారణమొ యూహించుకొనుడు <br><br>

అట్టులూహించుకొని ఆ మహాత్మునొక్క <br>
సారి స్మరణ చేయుడు మనసార "సాయి <br>
సాయి" అనుచు సుజనులారా ! సాయి భక్తు <br>
లారా ! ముక్తికాంత వరించు దారికొరకు. <br><br>


ఇతి శివం <br>
<br>
శ్రీ సచ్చిదానంద సద్గురు సాయినాథ మహరాజ్ కీ జై. <br>
శ్రీ హరిహరార్పణమస్తు, <br>
శుభం భవతు, పుండలీకవరదా <br>
హరివిఠలా ! సీతాకాంతా స్మరణ జయజయ రామ <br>
పార్వతీపతే - హరహర మహాదేవ శ్రీ సద్గురు <br>
సాయినాథ మహరాజుకీ జయ శ్రీ సాయి <br>
నాధార్పణమస్తు, శుభం భవతు <br>
శ్రీ సాయినాథ ప్రసన్న శ్రీ దాసగణు మహరాజ్ కీ జై ! <br>
<br><br><br>
{%endblock%}
