

<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Kastanivaran stotram in Telugu,tamil,English and Hindi</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/saibless.jpg" %}" alt="baba" width="200" height="260"> <br> <br><hr>
 <p style="color:white;"><br>Avalable in Telugu,tamil, english and Hindi <br><br>Purpose of reading Kastanivaran mantram of saibaba:  It is like instant blessings from baba,
    whenever devotees are worried about tought situations in family, life or job ,devotees can read this mantra 1 time from anywhere, it need not be recited infront of Baba
    by imaginining baba in your mind you can read with atmost faith in baba.You will definetly experience always a good result,it is proven to me many times ,Trust me
<br> <br><br>
Telugu and tamil stotram is different compared to english these are 2 different stotras and believed to be both equal power <br>
<br>శ్రీ సాయి కష్ట నివారణ స్తోత్రం
<br>
ప్రథమం  సాయినాథాయ  నమః
<br>
ద్వితీయ  ద్వాఆజాయ  -  రకామాయినే
<br>
తృతీయం  తీర్థ  రాజాయ
<br>
చతుర్థం  భాక్తవత్సలే
<br>
పంచమం  పరమార్థాయ
<br>
షష్టించ  షిర్డీ  వాసనే
<br>
సప్తమం  సద్గురు  నాధాయ
<br>
అష్టమం  అనాథ  నాధనే
<br>
నవమం  నిరాడంబరాయ
<br>
దశమం  దత్తావతారమే
<br>
యతని దశ నామాని త్రిసంద్యం యః పటేనిత్యం
<br>
సర్వకష్ట వినుర్ముక్తో సాయినాథ్ గురు కృపా
<br>
ఓం శాంతి ఓం శాంతి
<br>
ఓం శ్రీ సచ్చిదానంద సమర్థ సద్గురు సాయినాథ్ మహారాజ్ కి జై
<br>
ఇతి శ్రీ సాయినాథ్ కష్ట నివారణా స్తోత్రం సంపూర్ణం
<br>

<br>
మీరు ఏ ఇబ్బందులు లేదా సమస్యలు ఎదుర్కొంటుంటే , ప్రతి రోజు 3 సార్లు 11 రోజులు పాటు ఈ స్తోత్రం పఠిస్తూ  ఆ బాబా మీద విశ్వాసం మరియు నమ్మకంతో ఒక గురువారం ఈ స్తోత్రం మొదలు చేయండి.
  <br><br><hr><p style="color:white;">

    பிரதமம்  சாயிநாதாய <br>
    திவீதியம்  துவாரகா மயினே
    த்ரிதீயம்  தீர்த்தராஜாய <br>
    சதுர்த்தகம்  பக்தவத்சலாய <br>
    பஞ்சமம் பரமாத்மாய <br>
    சஷ்டமம் ச ஷிர்டிவாசாய <br>
    சப்தமம் சத் குரு  நாதாய <br>
    அஷ்டமம்  ஆனந்த  தாயாய <br>
    நவமம்  நிடம்பராய <br>
    தசமம் தத்த அவதாராயினே <br><br>

    ஏதத்  தச நாமானி  த்ரிஸந்த்யாம்  யஹ  படேன் நர <br>
    ஸர்வ  கஷ்டோ  பயான் முக்தோ சாய்நாத  குரு க்ருபா <br><br>

    இதி  சாய்நாத  கஷ்ட  நிவாரண மந்த்ரம்  சம்பூர்ணம் <br><br>
     <strong> शिर्डी साईं बाबा कष्ट निवारण मंत्र</strong> <br><br>

   सदगुरू साईं नाथ महाराज की जय <br>
   कष्टों की काली छाया दुखदायी है, जीवन में घोर उदासी लायी है l <br>
   संकट को तालो साईं दुहाई है, तेरे सिवा न कोई सहाई है l <br>
   मेरे मन तेरी मूरत समाई है, हर पल हर शन महिमा गायी है l <br>
   घर मेरे कष्टों की आंधी आई है,आपने क्यूँ मेरी सुध भुलाई है l <br> <br>
   तुम भोले नाथ हो दया निधान हो,तुम हनुमान हो तुम बलवान हो l <br>
   तुम्ही राम और श्याम हो,सारे जग त में तुम सबसे महान हो l <br>
   तुम्ही महाकाली तुम्ही माँ शारदे,करता हूँ प्रार्थना भव से तार दे l <br>
   तुम्ही मोहमद हो गरीब नवाज़ हो,नानक की बानी में ईसा के साथ हो l <br> <br>
   तुम्ही दिगम्बर तुम्ही कबीर हो,हो बुध तुम्ही और महावीर हो l <br>
   सारे जगत का तुम्ही आधार हो,निराकार भी और साकार हो l <br>
   करता हूँ वंदना प्रेम विशवास से,सुनो साईं अल्लाह के वास्ते l <br>
   अधरों पे मेरे नहीं मुस्कान है,घर मेरा बनने लगा शमशान है l <br> <br>
   रहम नज़र करो उज्ढ़े वीरान पे,जिंदगी संवरेगी एक वरदान से l <br>
   पापों की धुप से तन लगा हारने,आपका यह दास लगा पुकारने l <br>
   आपने सदा ही लाज बचाई है,देर न हो जाये मन शंकाई है l <br>
   धीरे-धीरे धीरज ही खोता है,मन में बसा विशवास ही रोता है l <br> <br>
   मेरी कल्पना साकार कर दो,सूनी जिंदगी में रंग भर दो l <br>
   ढोते-ढोते पापों का भार जिंदगी से,मैं गया हार जिंदगी से l <br>
   नाथ अवगुण अब तो बिसारो,कष्टों की लहर से आके उबारो l <br>
   करता हूँ पाप मैं पापों की खान हूँ,ज्ञानी तुम ज्ञानेश्वर मैं अज्ञान हूँ l <br> <br>
   करता हूँ पग-पग पर पापों की भूल मैं,तार दो जीवन ये चरणों की धूल से l <br>
   तुमने ऊजरा हुआ घर बसाया,पानी से दीपक भी तुमने जलाया l <br>
   तुमने ही शिरडी को धाम बनाया,छोटे से गाँव में स्वर्ग सजाया l <br>
   कष्ट पाप श्राप उतारो,प्रेम दया दृष्टि से निहारो l <br> <br>
   आपका दास हूँ ऐसे न टालिए,गिरने लगा हूँ साईं संभालिये l <br>
   साईजी बालक मैं अनाथ हूँ,तेरे भरोसे रहता दिन रात हूँ l <br>
   जैसा भी हूँ , हूँ तो आपका,कीजे निवारण मेरे संताप का l <br>
   तू है सवेरा और मैं रात हूँ,मेल नहीं कोई फिर भी साथ हूँ l <br> <br>
   साईं मुझसे मुख न मोड़ो,बीच मझधार अकेला न छोड़ो l <br>
   आपके चरणों में बसे प्राण है,तेरे वचन मेरे गुरु समान है l <br>
   आपकी राहों पे चलता दास है,ख़ुशी नहीं कोई जीवन उदास है l <br>
   आंसू की धारा में डूबता किनारा,जिंदगी में दर्द , नहीं गुज़ारा l <br> <br>
   लगाया चमन तो फूल खिलायो,फूल खिले है तो खुशबू भी लायो l <br>
   कर दो इशारा तो बात बन जाये,जो किस्मत में नहीं वो मिल जाये l <br>
   बीता ज़माना यह गाके फ़साना,सरहदे ज़िन्दगी मौत तराना l <br>
   देर तो हो गयी है अंधेर ना हो,फ़िक्र मिले लकिन फरेब ना हो l <br> <br>
   देके टालो या दामन बचा लो,हिलने लगी रहनुमाई संभालो l <br>
   तेरे दम पे अल्लाह की शान है,सूफी संतो का ये बयान है l <br>
   गरीबों की झोली में भर दो खजाना,ज़माने के वली करो ना बहाना l <br>
   दर के भिखारी है मोहताज है हम,शंहंशाये आलम करो कुछ करम l <br><br>
   तेरे खजाने में अल्लाह की रहमत,तुम सदगुरू साईं हो समरथ l <br>
   आये हो धरती पे देने सहारा,करने लगे क्यूँ हमसे किनारा l <br>
   जब तक ये ब्रह्मांड रहेगा,साईं तेरा नाम रहेगा l <br>
   चाँद सितारे तुम्हे पुकारेंगे,जन्मोजनम हम रास्ता निहारेंगे l <br><br>
   आत्मा बदलेगी चोले हज़ार,हम मिलते रहेंगे बारम्बार l <br>
   आपके कदमो में बैठे रहेंगे,दुखड़े दिल के कहते रहेंगे l <br>
   आपकी मर्जी है दो या ना दो,हम तो कहेंगे दामन ही भर दो l <br>
   तुम हो दाता हम है भिखारी,सुनते नहीं क्यूँ अर्ज़ हमारी l <br><br>
   अच्छा चलो एक बात बता दो,क्या नहीं तुम्हारे पास बता दो l <br>
   जो नहीं देना है इनकार कर दो,ख़तम ये आपस की तकरार कर दो l <br>
   लौट के खाली चला जायूँगा,फिर भी गुण तेरे गायूँगा l <br>
   जब तक काया है तब तक माया है,इसी में दुखो का मूल समाया है l <br><br>
   सबकुछ जान के अनजान हूँ मैं,अल्लाह की तू शान तेरी शान हूँ मैं l <br>
   तेरा करम सदा सब पे रहेगा,ये चक्र युग-युग चलता रहेगा l <br>
   जो प्राणी गायेगा साईं तेरा नाम,उसको मुक्ति मिले पहुंचे परम धाम l <br>
   ये मंत्र जो प्राणी नित दिन गायेंगे,राहू , केतु , शनि निकट ना आयेंगे l <br><br>
   टाल जायेंगे संकट सारे,घर में वास करें सुख सारे l <br>
   जो श्रधा से करेगा पठन,उस पर देव सभी हो प्रस्सन l <br>
   रोग समूल नष्ट हो जायेंगे,कष्ट निवारण मंत्र जो गायेंगे l <br>
   चिंता हरेगा निवारण जाप,पल में दूर हो सब पाप l <br><br>
   जो ये पुस्तक नित दिन बांचे,श्री लक्ष्मीजी घर उसके सदा विराजे l <br>
   ज्ञान , बुधि प्राणी वो पायेगा,कष्ट निवारण मंत्र जो धयायेगा l <br>
   ये मंत्र भक्तों कमाल करेगा,आई जो अनहोनी तो टाल देगा l <br>
   भूत-प्रेत भी रहेंगे दूर ,इस मंत्र में साईं शक्ति भरपूर l <br> <br>
   जपते रहे जो मंत्र अगर,जादू-टोना भी हो बेअसर l <br>
   इस मंत्र में सब गुण समाये,ना हो भरोसा तो आजमाए l <br>
      ये मंत्र साईं वचन ही जानो,सवयं अमल कर सत्य पहचानो l <br>
   संशय ना लाना विशवास जगाना,ये मंत्र सुखों का है खज़ाना l <br><br>
   इस पुस्तक में साईं का वास,जय साईं श्री साईं जय जय साईं l <br>

<hr>

  <strong> IN ENGLISH</strong><br><hr>

<p style="color:white;">
   Kashton ki kali chaya dukhdayi hai,Jeewan me ghor udasi layi hai l <br>
   Sankat ko talo sai duhai hai.Tere siwa na koi sahayi hai l <br>
   Mere man teri surat samai hai ,Har pal har kshan mahima gayi hai l <br>
   Ghar mere kashton ki aandhi aayi hai,Aapne kyun meri sudh bhulayi hai l <br>
   <br>Tum bholenaath ho daya nidhan ho,Tum hanuman ho maha balwan ho l
   <br>Tumhi ram aur shyam ho,Saare jagat mein tum sabse mahan ho l
   <br>Tumhi mahakali tumhi maa shaarde,Karta hoon prarthna bhav se taar de l <br>
   Tumhi mohhammad ho gareeb nawaz ho,Nanak ki vani mein eesa ke saath ho l <br> <br>
   Tumhi digambar tumhi kabir ho,Ho budh tumhi aur mahaveer ho l <br>
   Saare jagat ka tumhi aadhar ho,Niraakar bhi aur saakar ho l <br>
   Karta hu vandana prem vishwas se,suno sai allah ke vaste l
<br>   adharo pe mere nhi muskaan hai,Ghar mera banna laga shamshan hai l <br>
    <br>Reham nazar karo ujre viran pe,Zindagi sawaregi ek vardan se l <br>
   Paapo ki dhoop se tan laga haarne,Aapka ye das laga pukaarne l <br>
   Aapne sada hi laaj bachayi hai,Der na ho jaaye man shankayi hai l <br>
   Dheere dheere dheeraj hi khota hai, Man me basa vishwas hi rota hai l <br><br>
   Meri kalpana saakar kar do,Sooni zindagi me rang bhar do l <br>
   Dhote dhote paapon ka bhaar zindagi se,Main gaya haar zindagi se l <br>
   Naath avgun ab to bisaaro,Kashton ki lehar se aake ubaaro l <br>
   Karta hu paap main paapo ki khan hu,Gyani tum gyaneshwar main agyan hu l <br><br>
   Karta hu pag pag par paapo ki bhool main,Taar do jeewan charno ki dhool se l <br>
   Tumne ujda hua ghar basaya,Paani se Deepak bhi tumne jalaya l <br>
   Tumne hi shirdi ko dhaam banaya,Chhote se gaon mein swarg sajaya l <br>
   Kasht paap shrap utaro,Prem daya drishti se nihaaro l <br><br>
   Aapka daas hu aise naa taaliye,Girne laga hu sai sambhaliye l <br>
   Saiji balak main anaath hu,Tere bharose rehta din raat hu l <br>
   Jaisa bhi hoon, hoon to aapka,Keeje nivaran mere santaap ka l <br>
   Tu hai sawera aur main raat hoon,Mel nhi koi phir bhi saath hoon l <br><br>
   Saiji mujhse mukh naa modo,Beech majhdaar akela na chodo l <br>
   Aapke charno mein base pran hain,Tere vachan mere guru saman hain l <br>
   Aapki raah pe chalta daas hai,Khushi nhi koi jeewan udas hai l <br>
   Aansoo ki dhaara mein doobta kinaara,Zindagi mein dard , nhi guzaara l <br><br>
   Lagaya chaman to phool khilaao,Phool khile hai to khushboo bhi laao l <br>
   Kar do ishara to baat ban jaye,Jo kismat me nhi wo mil jaaye l <br>
   Beeta zamana ye gaake fasana,Sarhade zindagi maut tarana l <br>
   Der to ho gayi hai andher na ho,Fikr mile lekin fareb na ho l <br><br>
   Deke taalo ya daaman bacha lo,Hilne lagi rehnumayi sambhalo l <br>
   Tere dam pe allah ki shaan hai,Sufi santon ka ye bayan hai l <br>
   Gareebon ki jholi me bhar do khazana,Zamane ke wli na karo bahana l <br>
   Dar ke bhikhari hain mohtaaj hain hum,Shehenshahe aalam karo kuch karam l <br> <br>
   Tere khazaane mein allah ki rehmat,Tum sadguru saiji ho samarth l <br>
   Aaye ho dharti pe dene sahara,Karne lage kyun humse kinaara l <br>
   Jab tak ye brahmand rahega,Sai tera naam rahega l <br>
   Chaand sitare tumhe pukaarenge,Janmojanam hum rasta nihaarenge l <br><br>
   Aatma badlegi chole hazar,Hum milte rahenge baarambar l <br>
   Aapke kadmo mein baithe rahenge,Dukhde dil ke kehete rahenge l <br>
   Aapki marzi hai do ya na do,Hum to kahenge daaman hi bhar do l <br>
   Tum ho data hum hain bhikhaari,Sunte nhi kyun araz hmari l <br><br>
   Achchha chalo ek baat bta do,Kya nhi tumhaare paas bta do l <br>
   Jo nhi dena hai inkaar kar do,Khatam ye aapas ki takrar kar do l <br>
   Laut k khali chala jaaunga,Phir bhi gun tere gaaunga l <br>
   Jab tak kaaya hai tab tak maaya hai,Isi mein dukhon ka mool samaya hai l <br><br>
   Sab kuch jaan ke anjaan hu main,Allah ki tu shaan teri shaan hu main l <br>
   Tera karam sada sabpe rahega,Ye chakra yug yug chalta rahega l <br>
   Jo prani gayega saiji tera naam,Usko mukti mile pahuche param dhaam l <br>
   Ye mantra jo praani nit din gaayege,Raahu ketu shaani nikat na aayenge l <br><br>
   Tal jaayenge sankat saare,Ghar mein vaas Karen sukh saare l <br>
   Jo shraddha se karega pathan,Us par dev sabhi ho prasann l <br>
   Rog samool nasht ho jayenge,Kasht nivaaran mantra jo gaayenge l <br>
   Chinta harega nivaran jaap,Pal mein door ho sab paap l <br><br>
   Jo ye pustak nit din baanche,Shri lakhmi ji ghar uske sada viraaje l <br>
   Gyan buddhi praani wo paayega,Kasht nivaran mantra jo dhyayega l <br>
   Ye mantra bhakto kamal karega,Aayi jo anhoni to taal dega l <br>
   Bhoot prêt bhi rahenge door,Is mantra mein sai shakti bharpoor l <br><br>
   Japte rahe jo mantra agar,Jaado tona bhi ho beasar l <br>
   Is mantra mein sab gun samaye,Na ho bharosa to aazmaye l <br>
   Ye mantra saiji vachan hi jaano,Swayam amal kar satya pehchaano l <br>
   Sanshay na laana vishwas jagana,Ye mantr sukhon ka hai khazana l <br><br>
   Is pustak mein sai ka vas,Jai sai shri sai jai jai sai l <br>

<br>
   <strong>OM SAI RAM !!!</strong>

     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
