<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Tatya</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/t2.jpg" %}" alt="baba" width="200" height="260"> <br>Tatya Kote Patil <br><hr>
 <p style="color:white;">

       Tatya Kote Patil occupies a special place in the history of Shirdi and Sai Baba ,and many of his descendants are active in the local community. Sometimes referred to as Baba's "pet" devotee. Tatya had a unique relationship with the saint and was under his wing from the age of about seven. While most devotees were attracted to Baba because of his powers and what he could give them, Tatya related to Baba in a personal and human way.
       <br>

       Tatya's parents had been among the very first to recognise Baba, although  Sai  Baba had the appearance of a fakir and, to many, seemed to be a madman. The moment Baba saw Bayajabai, Tatya's mother, he said, "She has been my sister for the last seven births" For her part, Bayajabai was immediately very drawn to baba, even before his powers or saintliness had been revealed. Having once met him, she would never eat without having first fed Sai.
       <br>
       At that time Baba was roaming in the fields and every day Bayajabai would go and search for him, carrying food, baba never forgot this service, and took loving care of her son. Later, when Baba was begging regularly for his food, the Patil's house was one of the five to which he mostly went.
       <br>

       Bayajabai was Baba's "sister" and Baba loved her son like his nephew. As a child, Tatya addressed Baba as "Mama" or "Uncle" and they would play and romp together, with Tatya climbing on baba's back and sitting in his lap. As Tatya grew up, the affection also deepened. Sometimes they wrestled together and played practical jokes. While Tatya was dozing, Baba might hide his towel, and then, inall innocence pretend to help Tatya look for it. At other times, he would push the sleeping Tatya outside the mosque and gleefully wait for his reaction upon waking Bleary-eyed, Tatya would wonder how he had got there. Sometimes he would twist "Tatya's body into odd contortions.
       <br>
       In return, Tatya, who was tall and stocky, would sometimes pick Baba up and run with him over his shoulder, with Baba yelling laughingly to put him down and go more slowly. 0nce he put his own turban and cloth on Baba and showed him his reflection in a mirror. Baba immediately began mimicking Tatya and teasing him
       <br>

       Being so close to baba, Tatya had various privileges that few, if any, shared. For example, only he and Mahalsapati were allowed to stay with Baba in the mosque at night. The three of them would lie like spokes on a wheel, with their feet touching and their heads facing north, east and west respectively. For fourteen years, Tatya slept like this until his father died and household responsibilities compelled him to be at home. When the chillim was taken out,
       <br>
       Tatya would light it and take the first puff. Before the Chavadi procession, itwas always Tatya who would come to the mosque and persuade Baba to move, and it was only Tatya whom baba allowed to adorn him with expensive cloth for the occassion.
       <br>
 <img src="{% static "images/t1.jpg" %}" alt="baba" width="200" height="260">
  <img src="{% static "images/t3.jpg" %}" alt="baba" width="200" height="260">
  <img src="{% static "images/t4.jpg" %}" alt="baba" width="200" height="260">
   <img src="{% static "images/t5.jpg" %}" alt="baba" width="200" height="260">
   <br>
 Baba belonging's with tatya, tatyas samadhi and his house in Shiridi . <br><hr>

       <p style="color:white;">Sometimes Baba and Mahalsapati would massage Tatya's tired farmer's body, which upset Tatya as he felt it was inappropriate for Baba to do this service. 0nce, Tatya was so annoyed with baba for doing this, that he kept away from dwarkamai for several days. When Baba called out to him as he passed by the mosque, Tatya replied sulkily that he was not going to have anything to do with baba, Later. Tatya was mollified by kakasaheb Dixit and persuaded to come back to the mosque. 0nly Tatya treated Baba in this way.

       <br><br>

       Baba to care of Tatya's material welfare, giving him thirtyfive rupees a day (a government employee's average salary was about this amount per month! ) and instruction him to use it properly as capital and not to squander it. As a result, Tatya become a wealtyhy landowner and acquired aa social standing that would probably have otherwise eldud him.

       <br>

       In 1916 Sai Baba privately predicted that Tatya would die two years later. At the time foretold, when Baba himself was ailing, Tatya fell seriously ill. One day Baba summoned Tatya to the mosque; Tatya was so weak that hed to be carried. After feeding him a little milk rice, Baba told him, " Tatya, at first got two cardles ready for both of us, but now I've changed my mind. I don't want to take you now. I'm going alone. Go home!"
       <br>


       With that he applied udi to the forehead of his beloved devotee, and watched for a long time as Tatya disappeared down the road. That was the last time Tatya saw his Gurudev alive: two days later Sai Baba passed away, while Tatya went on to recover and lived a further twenty - seen years. This has lead some people to believe that Sai Baba sacrificed his own life for Tatya's. Others, however, point out that such an exchange would not have been necessary for one of Baba's caliber- after all, he had saved lives before and even raised people from the dead.


       In Tatya Kote Patil's life with Baba, what stands out most is the immense and solid love and friendship between these two. Its legacy provides us with both an inspiration and an aspiration.






     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
