<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Saibaba Vratam</h1><hr>
     <p style="color:white;">
        <img src="{% static "images/saivratt.jpg" %}" alt="baba" width="200" height="260"> <br>Om Sai  <br><hr>
 <p style="color:white;">
<br>
   Om Ganeshaya Namaha
<br>
Dear Sai children, Many sai devotees around the world have been benefitted by d
oing this pooja. Ofcourse i wont say only if you do this pooja your wish will be
 fulfilled. Not at all.As Lord Krishna says "I will accept any leaf, flower ,
 fruit offered by a pure hearted devotee" , Saibaba also will accept any kind of
  devotion you show on him.
<br>
I mostly suggest the devotees to do parayan - Rea
ding of Sai Satcharitra - Life of shirdi saibaba again and again.
This is a greater blessing than any pooja in this world. Sai himself has said
reading his life, his leelas and living with faith and patience will take devotees
very close to him.
<br> <br>
<a href="http://www.saibabaofindia.com/Sai_Vrat_Katha_in_English.pdf" <button type="button" class="btn btn-success">
English-click here</a> <br>
<br> <a href="http://www.saibabaofindia.com/Sai_Vrat_Katha_in_Hindi.pdf" <button type="button" class="btn btn-success">Hindi-click here</a>
<br><br> <a href="http://www.saibabaofindia.com/Sai_Vrat_Katha_in_Marathi.pdf" <button type="button" class="btn btn-success">Marathi-click here</a>
<br> Sai vrat Pooja has somehow become famous as below but during shirdi saibabas
 time it surely was followed in a different way.
<br>
1. What kind of food i can have ? How many times. etc etc.
<br>
Answer is first of all sai is a saint who never wants his devotees to be fully
 empty stomach. Some how this pooja became famous and many go to extent of not
 eating anything. Please have any vegetarian food as many times as you want...ha
  ha...2...3...your wish. the matter to consider is dont eat FULL. Make sure you
   have a feeling of sai in you n u are doing a vrat. Thats it.
<br>
2. How to do udyapan.
<br>
People who do this pooja for 9 weeks are asked to distribute such books to 9 de
votees and also give annadhan.
<br> <br>
SAIBABA LOOKS ONLY YOUR DEVOTION.
<br>
dont worry if you cant get books or dont be in hunger. Do the pooja as you
feel comfortable but only devotedly pray sai and show your devotion on saibaba
 with simplicity. That will do.
<br> <br>
Now read the pooja as described below.
<br>
I suggest you consider to do other pooja for saibaba.
<br>
Sai Nav Guruwar Vrat pooja
<br>
I saw this Pooja interesting. You will reap the rewards in no time, when you do this Vrath. May sai bless you with all his grace to do this vrat properly and answer your prayers :
<br>
Kind request : Friends, Please understand shirdi saibaba has no specific rules in any pooja or way we show our devotion to him. He is a saint of mercy.People write to me asking for sai vrat katha book.I ask them to search net for online versions.I do not like to do anything commercial. so i ask them to try to get the books in near by shirdi saibaba temple. If you can't get book also try to do this pooja as given below.Instead of book, you can read sai satcharita and also Sainath Stavan Manjari can be copied in your wordpad, take a print out , xerox it ,stabler it and give it to sai devotees.
<br>
Humble effort to keep Sai vrat Pooja sacred :
<br>
Friends, This Sai vrat Pooja is done by many shirdi saibaba devotees .Recently i realized many books about sai vrat pooja has come and these books are got again as the pooja says that after completion of the 9th week, one has to distribute the pooja book.Its getting too commercial . I appreciate anything that creates sai faith . So atleast those who cant get the book, try to take print out of sainath stavan manjari written by Das ganu maharaj. Its very powerful if you read this sacred poem on praise of saibaba .
<br>
If you can get the sai nav guruwar vrat book , fine then do as you wish but i have a better request. Its only personal request. Please see if you can print out Sainath Stavan Manjari for distribution to friends. Devotees abroad can also send a link to this page or sainath stavan manjari as many mail me asking for book. Thats what my friends have been doing and its really helpful. Now lets go to the Pooja ....
<br>
The credit for below pooja goes to the person who created it by saibabas blessings and the person who contributed it . I have just provided sai vrat puja as a service to help shirdi saibaba devotees.
<br>
You can also do other Saibaba pooja which i have personally created by shirdi saibaba belssings called "Shradha saburi pooja ". If you are looking for Sai Vrat Pooja in Telugu see below link in Google docs
<br>
Sai Nav Guruvar Vrat Pooja in Telugu
<br> <br>
Story behind the sai vrat pooja :
<br>
Kokila and her husband Maheshbhai used to live in a big city and they had lots of love for each other. But Maheshbhai’s nature was very annoying and he had no sense of talking. Neighbors were also very much frustrated by his this kind of nature. Kokilaben had lots of faith in GOD and she was very religious.
She was tolerating all her problems silently having lots of faith in GOD that GOD will make everything all right one day. But because of Maheshbhai’s nature, their business went down gradually and there was not enough income. He started staying at home all day and his nature become worst.
It was an afternoon. One old saint came to Kokilaben’s door. There was enormous light on his face. And he asked for rice and dal (lentils). Kokilaben gave him rice and dal and she folded her both hands and said “namste” (greetings).
<br>
Saint replied “SAI will always keep you happy.” Kokilaben said “There is no happiness in my life” and she told all her problems to the saint.
After listening to all her problems, Saint told her about
<br><br>
“SAI NAV (NINE) GURUWAR (THURSDAY) VRAT”.
<br>
Saint told as follows about the Vrat.
<br>
. This Vrath can be started from any Thursday by uttering SAI BABA’s name.
<br>
· This Vrath has to be continued for 9 Thursdays.
<br>
· Any male, female or child can do this Vrat.
<br>
· On these Nine Thursday, individual who is doing vrat can eat fruit/milk/sweets etc. all day long or can have one meal a day. ONE MUST NOT DO THIS VRAT WITHOUT EATING ANYTHING.
<br>
· If possible, go to SAI BABA’s temple to have SAIBABA’s darshan on these Nine Thursday.
<br>
· At home, do pooja / prayer of SAI BABA as follows.
<br>
· In the morning or in the evening, do the pooja as mentioned below.
<br>
· Put Yellow Cloth in front of you and place SAI BABA’s Photo or Statue on this cloth.
<br>
· Light lamp (diya) in front of BABA’s picture.
<br>
· Wash or wipe BABA’s picture with clean water and cloth.
<br>
· Put “tikka (Bindi on the forehead)” with “kumkum” (red powder) on BABA’s face.
<br>
· Offer Yellow Flower to BABA.
<br>
· Offer Fruit or Sweets to BABA as Naivadhya (Prasad)
<br>
· Read this SAI story and Read / Sing SAIBABA’s Aarti after finishing Pooja and reading story.
<br>
· Tell BABA why you are doing this Vrat and ask him to fulfill your wish.
<br>
· Give Prasad to all your friends and family members and you also eat it some.
<br>
· If, because of any reason, you cannot do vrat on any Thursday, skip that Thursday and continue from the next Thursday.
<br>
· If female is doing this Vrat, skip the Thursday during Menstrual Cycle period.
<br>
· On the 9th Thursday, Celebrate SAI VRAT. In this celebration process, feed 5 poor people and distribute this SAI VRAT book among people. One can give 5, 11 or 21 etc.
<br>
Since i get mails from shirdi saibaba devotees who cant donate food : Saibaba devotees living abroad and those who are not able to give food , can give some sweets to your friends or childrens near by. If possible send money to your relatives in india or request them provide food to poor people sitting outside temple or generally distribute sweets to devotees in any temple.Its better to make childrens happy by giving them any toys, books sweets etc. The point is you are inlving yourself in a good deed.
<br>
· Put this SAI VRAT Story Book or printed paper , which you are going to distribute among people, when you do pooja and then give them to people. By doing this, their wishes will be fulfilled very soon too.
<br>
Since few saibaba devotees living abroad are not able to get this book , you can also distribute Sainath stavan manjari provided in this site. Take a print out and send to your friends or send the link with personal message to close friends.
<br>
· All wishes will be fulfilled by doing this vrat.
<br>
In this Kali Age (Kaliyug), this vrat is very effective. This vrat will give desired fruit to doer but doer must have full faith and patience. Whoever will distribute this SAI VRAT book among people and make good name of SAI and this Vrat, their all wishes will be fulfilled.
<br>
After listening about this SAI VRAT from Saint, Kokilaben also decided to do this vrat. She started Vrat from the Thursday. And she finished 8 Guruwars with full faith. On the 9th Guruwar, she fed poor people and distributed SAI VRAT books among friends and relatives.
<br>
As soon as she finished the Vrat, all the quarrels vanished from her house. Prosperity, happiness and peace spread in her home. Maheshbhai’s nature was changed completely. Their business started doing well. And in no time, they got all the happiness and prosperity.
<br>
Both husband and wife started living happily. One day Kokilaben’s sister-in-law and brother-in-law came from Surat. Her sister-in-law was talking with Kokilaben. The former said that her kids were not studying and getting failed in exams. Kokilaben told her about SAI VRAT. She said “SAI devotion will make education better. Have faith in SAI BABA. HE helps everyone.” Kokilaben’s sister-in-law asked the detail of the vrat.
<br>
Kokilaben told about the SAI VRAT in detail. And explained her everything about the vrat. Her sister-in-law went to Surat and she sent a letter after few days. She wrote that her children have started doing SAI VRAT and now they are studying very well. She also did Vrat and distributed SAI VRAT book in her office. One of her friend, who had very hard time in getting married, got married to a very nice man after started doing SAI VRAT. Her neighbor has also started doing SAI VRAT and she got her stolen jewelry box back. It was a great miracle.
<br>
Dear shirdi sai baba , as you have blessed these people, please bless all of us too.
<br>
- shirdi sai bless you all.
<br><br>


     </p>


 <hr>
</div>
<br><br><br><br><br><br>
{%endblock%}
