<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%load static%}
{% block xyz %}
<link rel="stylesheet" href="{%static "css/edit.css" %}">
{% endblock %}
{% block body_block %}
<div class="container">

     <h1 id="col">Pradhan</h1><hr>
      <img src="{% static "images/w.jpg" %}" alt="baba" width="200" height="260"><hr>
     <p style="color:white;"><br>
        <img src="{% static "images/wpradhan1.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan2.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan3.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan4.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan5.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan6.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan7.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan8.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan9.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan10.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan11.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan12.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan13.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan14.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan15.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan16.jpg" %}" alt="baba" width=100%>
        <img src="{% static "images/wpradhan17.jpg" %}" alt="baba" width=100%>




  {%endblock%}
